.page {
  background-color: rgba(0, 0, 0, 1);
  position: relative;
  width: 100vw;
  height: 216.54vw;
  overflow: hidden;
}

.box_1 {
  background-color: rgba(255, 255, 255, 1);
  padding: 3.86vw 1.86vw 3.33vw 4vw;
}

.section_1 {
  margin: 0 0.13vw 0 1.6vw;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 4vw;
  letter-spacing: -0.6000000238418579px;
  font-family: SFProText-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 4.8vw;
}

.label_5 {
  width: 4.54vw;
  height: 2.94vw;
  margin: 0.53vw 0 1.33vw 66vw;
}

.label_6 {
  width: 4vw;
  height: 2.94vw;
  margin: 0.53vw 0 1.33vw 1.33vw;
}

.label_7 {
  width: 6.4vw;
  height: 3.07vw;
  margin: 0.53vw 0 1.2vw 1.33vw;
}

.section_2 {
  margin-top: 4.4vw;
}

.label_4 {
  width: 4.27vw;
  height: 4.27vw;
  margin: 1.73vw 0 1.6vw 0;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 5.06vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 5.34vw;
  margin: 1.2vw 0 0 34.13vw;
}

.image_1 {
  width: 20.67vw;
  height: 7.6vw;
  margin-left: 19.87vw;
}

.group_2 {
  padding: 33.6vw 13.33vw 80vw 13.33vw;
}

.group_1 {
  background-color: rgba(77, 77, 77, 1);
  width: 73.34vw;
  height: 66.67vw;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 3.2vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 4.4vw;
  align-self: center;
  margin-top: 8vw;
}
