.page {
  background-color: rgba(0, 0, 0, 1);
  position: relative;
  width: 750rpx;
  height: 1624rpx;
  overflow: hidden;
}

.box_1 {
  background-color: rgba(255, 255, 255, 1);
  padding: 29rpx 14rpx 25rpx 30rpx;
}

.section_1 {
  margin: 0 1rpx 0 12rpx;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 30rpx;
  letter-spacing: -0.6000000238418579px;
  font-family: SFProText-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 36rpx;
}

.label_5 {
  width: 34rpx;
  height: 22rpx;
  margin: 4rpx 0 10rpx 495rpx;
}

.label_6 {
  width: 30rpx;
  height: 22rpx;
  margin: 4rpx 0 10rpx 10rpx;
}

.label_7 {
  width: 48rpx;
  height: 23rpx;
  margin: 4rpx 0 9rpx 10rpx;
}

.section_2 {
  margin-top: 33rpx;
}

.label_4 {
  width: 32rpx;
  height: 32rpx;
  margin: 13rpx 0 12rpx 0;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 38rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 40rpx;
  margin: 9rpx 0 0 256rpx;
}

.image_1 {
  width: 155rpx;
  height: 57rpx;
  margin-left: 149rpx;
}

.group_2 {
  padding: 252rpx 100rpx 600rpx 100rpx;
}

.group_1 {
  background-color: rgba(77, 77, 77, 1);
  width: 550rpx;
  height: 500rpx;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 24rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 33rpx;
  align-self: center;
  margin-top: 60rpx;
}
