.page {
  position: relative;
  width: 750rpx;
  height: 1624rpx;
  overflow: hidden;
  background-color: rgb(242 245 250 / 100%);
}

.box_1 {
  padding: 29rpx 14rpx 25rpx 30rpx;
  background-color: rgb(255 255 255 / 100%);
}

.box_6 {
  margin: 0 1rpx 0 12rpx;
}

.text_10 {
  font-family: SFProText-Semibold;
  font-size: 30rpx;
  font-weight: 600;
  line-height: 36rpx;
  color: rgb(0 0 0 / 100%);
  text-align: center;
  letter-spacing: -0.6000000238418579px;
  overflow-wrap: break-word;
  white-space: nowrap;
}

.label_21 {
  width: 34rpx;
  height: 22rpx;
  margin: 4rpx 0 10rpx 495rpx;
}

.label_22 {
  width: 30rpx;
  height: 22rpx;
  margin: 4rpx 0 10rpx 10rpx;
}

.label_23 {
  width: 48rpx;
  height: 23rpx;
  margin: 4rpx 0 9rpx 10rpx;
}

.box_7 {
  margin-top: 33rpx;
}

.label_17 {
  width: 32rpx;
  height: 32rpx;
  margin: 13rpx 0 12rpx;
}

.text_2 {
  margin: 9rpx 0 0 237rpx;
  font-family: PingFangSC-Medium;
  font-size: 38rpx;
  font-weight: 500;
  line-height: 40rpx;
  color: rgb(0 0 0 / 100%);
  text-align: left;
  overflow-wrap: break-word;
  white-space: nowrap;
}

.image_1 {
  width: 155rpx;
  height: 57rpx;
  margin-left: 130rpx;
}

.box_2 {
  padding: 30rpx;
  margin-top: 10rpx;
  background-color: rgb(255 255 255 / 100%);
}

.list_7 {
}

.list-items_1 {
  position: relative;
  width: 690rpx;
  height: 110rpx;
  padding: 41rpx 20rpx 37rpx 638rpx;
  margin-bottom: 16rpx;
  background-color: rgb(244 246 250 / 100%);
  border-radius: 8px;
}

.image_2 {
  position: absolute;
  top: 21rpx;
  left: 30rpx;
  width: 68rpx;
  height: 68rpx;
}

.text_3 {
  position: absolute;
  top: 41rpx;
  left: 118rpx;
  font-family: PingFangSC-Medium;
  font-size: 28rpx;
  font-weight: 500;
  line-height: 28rpx;
  color: rgb(25 33 61 / 100%);
  text-align: left;
  overflow-wrap: break-word;
  white-space: nowrap;
}

.image-text_7 {
  position: absolute;
  top: 18rpx;
  left: 30rpx;
  width: 161rpx;
}

.image_3 {
  width: 68rpx;
  height: 68rpx;
}

.text-group_1 {
  margin-top: 23rpx;
  font-family: PingFangSC-Medium;
  font-size: 28rpx;
  font-weight: 500;
  line-height: 28rpx;
  color: rgb(25 33 61 / 100%);
  text-align: left;
  overflow-wrap: break-word;
  white-space: nowrap;
}

.label_4 {
  width: 32rpx;
  height: 32rpx;
}

.box_8 {
  padding: 864rpx 30rpx 17rpx;
}

.text-wrapper_1 {
  padding: 22rpx 281rpx 21rpx;
  background-color: rgb(37 99 235 / 100%);
  border-radius: 8px;
}

.text_4 {
  font-family: PingFangSC-Medium;
  font-size: 32rpx;
  font-weight: 500;
  line-height: 45rpx;
  color: rgb(255 255 255 / 100%);
  text-align: left;
  overflow-wrap: break-word;
  white-space: nowrap;
}

.section_1 {
  align-self: center;
  width: 270rpx;
  height: 10rpx;
  margin-top: 34rpx;
  background-color: rgb(0 0 0 / 100%);
  border-radius: 5px;
}
