.page {
  background-color: rgba(242, 245, 250, 1);
  position: relative;
  width: 750px;
  height: 1624px;
  overflow: hidden;
}

.box_1 {
  background-color: rgba(255, 255, 255, 1);
  padding: 29px 14px 25px 30px;
}

.box_6 {
  margin: 0 1px 0 12px;
}

.text_10 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 30px;
  letter-spacing: -0.6000000238418579px;
  font-family: SFProText-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 36px;
}

.label_21 {
  width: 34px;
  height: 22px;
  margin: 4px 0 10px 495px;
}

.label_22 {
  width: 30px;
  height: 22px;
  margin: 4px 0 10px 10px;
}

.label_23 {
  width: 48px;
  height: 23px;
  margin: 4px 0 9px 10px;
}

.box_7 {
  margin-top: 33px;
}

.label_17 {
  width: 32px;
  height: 32px;
  margin: 13px 0 12px 0;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 38px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 40px;
  margin: 9px 0 0 237px;
}

.image_1 {
  width: 155px;
  height: 57px;
  margin-left: 130px;
}

.box_2 {
  background-color: rgba(255, 255, 255, 1);
  margin-top: 10px;
  padding: 30px 30px 30px 30px;
}

.list_7 {
  height: 362px;
}

.list-items_1 {
  background-color: rgba(244, 246, 250, 1);
  border-radius: 8px;
  position: relative;
  width: 690px;
  height: 110px;
  margin-bottom: 16px;
  padding: 41px 20px 37px 638px;
}

.image_2 {
  position: absolute;
  left: 30px;
  top: 21px;
  width: 68px;
  height: 68px;
}

.text_3 {
  position: absolute;
  left: 118px;
  top: 41px;
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 28px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.image-text_7 {
  position: absolute;
  left: 30px;
  top: 18px;
  width: 161px;
}

.image_3 {
  width: 68px;
  height: 68px;
}

.text-group_1 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 28px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin-top: 23px;
}

.label_4 {
  width: 32px;
  height: 32px;
}

.box_8 {
  padding: 864px 30px 17px 30px;
}

.text-wrapper_1 {
  background-color: rgba(37, 99, 235, 1);
  border-radius: 8px;
  padding: 22px 281px 21px 281px;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 32px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 45px;
}

.section_1 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 5px;
  width: 270px;
  height: 10px;
  align-self: center;
  margin-top: 34px;
}
