.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 100vw;
  height: 216.54vw;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 3.2vw;
}

.group_1 {
  background-color: rgba(255, 255, 255, 1);
  padding: 3.86vw 1.86vw 3.33vw 4vw;
}

.section_1 {
  margin: 0 0.13vw 0 1.6vw;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 4vw;
  letter-spacing: -0.6000000238418579px;
  font-family: SFProText-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 4.8vw;
}

.label_8 {
  width: 4.54vw;
  height: 2.94vw;
  margin: 0.53vw 0 1.33vw 66vw;
}

.label_9 {
  width: 4vw;
  height: 2.94vw;
  margin: 0.53vw 0 1.33vw 1.33vw;
}

.label_10 {
  width: 6.4vw;
  height: 3.07vw;
  margin: 0.53vw 0 1.2vw 1.33vw;
}

.section_2 {
  margin-top: 4.4vw;
}

.label_4 {
  width: 4.27vw;
  height: 4.27vw;
  margin: 1.73vw 0 1.6vw 0;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 5.06vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 5.34vw;
  margin: 1.2vw 0 0 31.6vw;
}

.image_1 {
  width: 20.67vw;
  height: 7.6vw;
  margin-left: 17.34vw;
}

.text_3 {
  width: 92vw;
  height: 186.67vw;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: justify;
  line-height: 5.34vw;
  align-self: center;
  margin-top: 2.67vw;
}

.paragraph_1 {
  width: 92vw;
  height: 186.67vw;
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 4vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 5.34vw;
}

.paragraph_2 {
  width: 92vw;
  height: 186.67vw;
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 4vw;
  font-weight: NaN;
  text-align: left;
  line-height: 5.34vw;
}
