.page {
  position: relative;
  width: 750rpx;
  overflow: auto;
  background-color: rgb(242 245 250 / 100%);
}

.box_1 {
  padding: 29rpx 14rpx 20rpx 40rpx;
}

.box_1_background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
}

.box_1_content {
  position: relative;
  z-index: 1;
}

.group_3 {
  margin: 0 1rpx 0 2rpx;
}

.text_21 {
  font-family: SFProText-Semibold;
  font-size: 30rpx;
  font-weight: 600;
  line-height: 36rpx;
  color: rgb(255 255 255 / 100%);
  text-align: center;
  letter-spacing: -0.6px;
  overflow-wrap: break-word;
  white-space: nowrap;
}

.label_23 {
  width: 34rpx;
  height: 22rpx;
  margin: 4rpx 0 10rpx 495rpx;
}

.label_24 {
  width: 30rpx;
  height: 22rpx;
  margin: 4rpx 0 10rpx 10rpx;
}

.label_25 {
  width: 48rpx;
  height: 23rpx;
  margin: 4rpx 0 9rpx 10rpx;
}

.image-wrapper_13 {
  margin: 34rpx 0 0 541rpx;
}

.image_1 {
  width: 155rpx;
  height: 57rpx;
}

.text-wrapper_6 {
  margin: 8rpx 317rpx 0 0;
}

.text_2 {
  font-family: WDCH-;
  font-size: 38rpx;
  line-height: 38rpx;
  color: rgb(255 255 255 / 100%);
  text-align: left;
  overflow-wrap: break-word;
  white-space: nowrap;
}

.image-wrapper_14 {
  margin: 8rpx 16rpx 0 610rpx;
}

.image_2 {
  width: 70rpx;
  height: 10rpx;
}

.box_25 {
  padding: 30rpx 30rpx 31rpx;
}

.list_11 {
  justify-content: space-between;
  width: 690rpx;
  height: 158rpx;
}

.image-text_1 {
  width: 210rpx;
  height: 158rpx;
  margin-right: 30rpx;
  background-color: rgb(255 255 255 / 100%);
  border-radius: 16px;
  box-shadow: 0 4px 20px 0 rgb(146 154 169 / 10%);
}

.image_3 {
  align-self: center;
  width: 64rpx;
  height: 64rpx;
}

.text-group_1 {
  margin-top: 20rpx;
  font-size: 24rpx;
  line-height: 24rpx;
  color: rgb(25 33 61 / 100%);
  text-align: left;
  overflow-wrap: break-word;
  white-space: nowrap;
}

.box_4 {
  padding: 30rpx 30rpx 32rpx;
  margin-top: -1rpx;
  background-color: rgb(255 255 255 / 100%);
}

.section_10 {
  width: 690rpx;
}

.text_3 {
  font-family: PingFangSC-Medium;
  font-size: 28rpx;
  font-weight: 500;
  line-height: 32rpx;
  color: rgb(25 33 61 / 100%);
  text-align: left;
  overflow-wrap: break-word;
  white-space: nowrap;
}

.image-text_32 {
  width: 122rpx;
  margin: 4rpx 0;
}

.text-group_2 {
  font-size: 24rpx;
  font-weight: nan;
  line-height: 24rpx;
  color: rgb(102 102 102 / 100%);
  text-align: left;
  overflow-wrap: break-word;
  white-space: nowrap;
}

.thumbnail_1 {
  width: 16rpx;
  height: 16rpx;
  margin: 4rpx 0;
}

.section_11 {
  margin-top: 36rpx;
}

.box_7 {
  padding: 21rpx 20rpx 18rpx 30rpx;
  background-color: rgb(244 246 250 / 100%);
  border-radius: 8px;
}

.image_4 {
  width: 68rpx;
  height: 68rpx;
  margin-bottom: 3rpx;
}

.text-group_29 {
  margin: 1rpx 0 2rpx 20rpx;
}

.text_4 {
  margin-right: 146rpx;
  font-family: PingFangSC-Medium;
  font-size: 28rpx;
  font-weight: 500;
  line-height: 28rpx;
  color: rgb(25 33 61 / 100%);
  text-align: left;
  overflow-wrap: break-word;
  white-space: nowrap;
}

.text_5 {
  margin-top: 16rpx;
  font-size: 24rpx;
  font-weight: nan;
  line-height: 24rpx;
  color: rgb(102 102 102 / 100%);
  text-align: left;
  overflow-wrap: break-word;
  white-space: nowrap;
}

.label_4 {
  width: 24rpx;
  height: 24rpx;
  margin: 47rpx 0 0 24rpx;
}

.text_6 {
  margin: 47rpx 0 0 4rpx;
  font-size: 24rpx;
  font-weight: nan;
  line-height: 24rpx;
  color: rgb(102 102 102 / 100%);
  text-align: left;
  overflow-wrap: break-word;
  white-space: nowrap;
}

.label_5 {
  width: 32rpx;
  height: 32rpx;
  margin: 20rpx 0 19rpx 251rpx;
}

.box_8 {
  padding: 18rpx 20rpx 20rpx 30rpx;
  margin-top: 18rpx;
  background-color: rgb(244 246 250 / 100%);
  border-radius: 8px;
}

.image-text_33 {
  width: 290rpx;
}

.image_5 {
  width: 68rpx;
  height: 68rpx;
  margin-bottom: 4rpx;
}

.text-group_30 {
  margin-top: 2rpx;
}

.text_7 {
  margin-right: 129rpx;
  font-family: PingFangSC-Medium;
  font-size: 28rpx;
  font-weight: 500;
  line-height: 28rpx;
  color: rgb(25 33 61 / 100%);
  text-align: left;
  overflow-wrap: break-word;
  white-space: nowrap;
}

.text_8 {
  margin-top: 18rpx;
  font-size: 24rpx;
  font-weight: nan;
  line-height: 24rpx;
  color: rgb(102 102 102 / 100%);
  text-align: left;
  overflow-wrap: break-word;
  white-space: nowrap;
}

.label_6 {
  width: 24rpx;
  height: 24rpx;
  margin: 48rpx 0 0 30rpx;
}

.text_9 {
  margin: 48rpx 0 0 4rpx;
  font-size: 24rpx;
  font-weight: nan;
  line-height: 24rpx;
  color: rgb(102 102 102 / 100%);
  text-align: left;
  overflow-wrap: break-word;
  white-space: nowrap;
}

.label_7 {
  width: 32rpx;
  height: 32rpx;
  margin: 21rpx 0 19rpx 245rpx;
}

.box_9 {
  padding: 20rpx 20rpx 20rpx 30rpx;
  margin-top: 16rpx;
  background-color: rgb(244 246 250 / 100%);
  border-radius: 8px;
}

.image-text_34 {
  width: 290rpx;
}

.image_6 {
  width: 68rpx;
  height: 68rpx;
  margin: 1rpx 0;
}

.text-group_31 {
}

.text_10 {
  margin-right: 129rpx;
  font-family: PingFangSC-Medium;
  font-size: 28rpx;
  font-weight: 500;
  line-height: 28rpx;
  color: rgb(25 33 61 / 100%);
  text-align: left;
  overflow-wrap: break-word;
  white-space: nowrap;
}

.text_11 {
  margin-top: 18rpx;
  font-size: 24rpx;
  font-weight: nan;
  line-height: 24rpx;
  color: rgb(102 102 102 / 100%);
  text-align: left;
  overflow-wrap: break-word;
  white-space: nowrap;
}

.label_8 {
  width: 24rpx;
  height: 24rpx;
  margin: 46rpx 0 0 30rpx;
}

.text_12 {
  margin: 46rpx 0 0 4rpx;
  font-size: 24rpx;
  font-weight: nan;
  line-height: 24rpx;
  color: rgb(102 102 102 / 100%);
  text-align: left;
  overflow-wrap: break-word;
  white-space: nowrap;
}

.label_9 {
  width: 32rpx;
  height: 32rpx;
  margin: 19rpx 0 19rpx 245rpx;
}

.section_12 {
  width: 690rpx;
  margin-top: 20rpx;
}

.image-text_35 {
  width: 548rpx;
}

.image-wrapper_3 {
  padding: 20rpx 2rpx;
  background-color: rgb(255 255 255 / 100%);
  border: 1px solid rgb(221 221 221 / 100%);
  border-radius: 8px;
}

.image_7 {
  width: 112rpx;
  height: 76rpx;
}

.text-group_32 {
  margin: 24rpx 0;
}

.text_13 {
  font-family: PingFangSC-Medium;
  font-size: 28rpx;
  font-weight: 500;
  line-height: 28rpx;
  color: rgb(25 33 61 / 100%);
  text-align: left;
  overflow-wrap: break-word;
  white-space: nowrap;
}

.text_14 {
  margin: 18rpx 208rpx 0 0;
  font-size: 24rpx;
  font-weight: nan;
  line-height: 24rpx;
  color: rgb(102 102 102 / 100%);
  text-align: left;
  overflow-wrap: break-word;
  white-space: nowrap;
}

.block_1 {
  width: 32rpx;
  height: 32rpx;
  margin: 43rpx 0;
  background-color: rgb(255 255 255 / 100%);
  border: 2px solid rgb(204 204 204 / 100%);
  border-radius: 4px;
}

.block_1.selected {
  background-color: #2563eb;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 8l3 3l7-7'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  border-color: #2563eb;
}

.section_13 {
  width: 690rpx;
  margin-top: 20rpx;
}

.image-text_36 {
  width: 548rpx;
}

.image-wrapper_4 {
  padding: 20rpx 2rpx;
  background-color: rgb(255 255 255 / 100%);
  border: 1px solid rgb(221 221 221 / 100%);
  border-radius: 8px;
}

.image_8 {
  width: 112rpx;
  height: 76rpx;
}

.text-group_33 {
  margin: 24rpx 0;
}

.text_15 {
  font-family: PingFangSC-Medium;
  font-size: 28rpx;
  font-weight: 500;
  line-height: 28rpx;
  color: rgb(25 33 61 / 100%);
  text-align: left;
  overflow-wrap: break-word;
  white-space: nowrap;
}

.text_16 {
  margin: 18rpx 208rpx 0 0;
  font-size: 24rpx;
  font-weight: nan;
  line-height: 24rpx;
  color: rgb(102 102 102 / 100%);
  text-align: left;
  overflow-wrap: break-word;
  white-space: nowrap;
}

.box_12 {
  width: 130rpx;
  height: 6rpx;
}

.box_13 {
  padding: 18rpx 0 1rpx;
}

.list_12 {
  justify-content: space-around;
  width: 100%;
  height: 75rpx;
}

.image-text_37 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label_10 {
  width: 36rpx;
  height: 36rpx;
}

.text-group_8 {
  margin-top: 9rpx;
  font-family: PingFangSC-Medium;
  font-size: 22rpx;
  font-weight: 500;
  line-height: 30rpx;
  text-align: center;
  overflow-wrap: break-word;
  white-space: nowrap;
}

.box_14 {
  align-self: center;
  width: 270rpx;
  height: 10rpx;
  margin-top: 43rpx;
  background-color: rgb(0 0 0 / 100%);
  border-radius: 5px;
}
