@font-face {
  font-family: 'font_family'; /* Project id 4948968 */
  src:
    url('iconfont.woff2') format('woff2'),
    url('iconfont.woff') format('woff'),
    url('iconfont.ttf') format('truetype');
}

.font_family {
  font-family: 'font_family' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-shouye::before {
  content: '\e6f6';
}

.icon-icon-guidang::before {
  content: '\e6f7';
}

.icon-icon-jiaozheng::before {
  content: '\e6f8';
}

.icon-icon-xieyi::before {
  content: '\e6fa';
}

.icon-icon-baocundaobendi::before {
  content: '\e6fb';
}

.icon-icon-zhishiku::before {
  content: '\e6fc';
}

.icon-icon-wenjianjia::before {
  content: '\e6fd';
}

.icon-icon-daochu::before {
  content: '\e6fe';
}

.icon-icon-caijian::before {
  content: '\e6ff';
}

.icon-icon-bianji::before {
  content: '\e700';
}

.icon-queding::before {
  content: '\e701';
}

.icon-icon-xiangqing::before {
  content: '\e6e2';
}

.icon-icon-xiangcedaoru::before {
  content: '\e6e3';
}

.icon-icon-yidong::before {
  content: '\e6e4';
}

.icon-icon-lianxikefu::before {
  content: '\e6e5';
}

.icon-icon-saoyisao::before {
  content: '\e6e6';
}

.icon-icon-paizhao::before {
  content: '\e6e7';
}

.icon-icon-zhongpai::before {
  content: '\e6e8';
}

.icon-icon-shanchu2::before {
  content: '\e6e9';
}

.icon-icon-zuozhuan::before {
  content: '\e6ea';
}

.icon-icon-quanxuan::before {
  content: '\e6eb';
}

.icon-icon-xinjianwenjianjia::before {
  content: '\e6ec';
}

.icon-icon-zengjia::before {
  content: '\e6ed';
}

.icon-hechaxinxiliebiao::before {
  content: '\e6ee';
}

.icon-icon0shanchu::before {
  content: '\e6ef';
}

.icon-icon-rili::before {
  content: '\e6f0';
}

.icon-icon-zhongmingming::before {
  content: '\e6f1';
}

.icon-icon-wenjian::before {
  content: '\e6f2';
}

.icon-icon-changjianwenti::before {
  content: '\e6f3';
}

.icon-btn-zengjia::before {
  content: '\e6f4';
}

.icon-icon-shezhi::before {
  content: '\e6f5';
}

.icon-pdf::before {
  content: '\e6e1';
}

.icon-icon-quanbuwendang::before {
  content: '\e6dd';
}

.icon-icon-wode::before {
  content: '\e6de';
}

.icon-icon-zixun::before {
  content: '\e6df';
}
