.page {
  background-color: rgba(242, 245, 250, 1);
  position: relative;
  width: 750rpx;
  height: 3890rpx;
  overflow: hidden;
}

.box_3 {
  padding: 29rpx 14rpx 31rpx 30rpx;
}

.section_5 {
  margin: 0 1rpx 0 12rpx;
}

.text_94 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 30rpx;
  letter-spacing: -0.6000000238418579px;
  font-family: SFProText-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 36rpx;
}

.label_8 {
  width: 34rpx;
  height: 22rpx;
  margin: 4rpx 0 10rpx 495rpx;
}

.label_9 {
  width: 30rpx;
  height: 22rpx;
  margin: 4rpx 0 10rpx 10rpx;
}

.label_10 {
  width: 48rpx;
  height: 23rpx;
  margin: 4rpx 0 9rpx 10rpx;
}

.section_6 {
  margin-top: 33rpx;
}

.label_4 {
  width: 32rpx;
  height: 32rpx;
  margin: 13rpx 0 12rpx 0;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 38rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 40rpx;
  margin: 17rpx 0 0 237rpx;
}

.image-wrapper_1 {
  background-color: rgba(254, 254, 254, 1);
  border-radius: 32px;
  border: 1px solid rgba(242, 242, 242, 1);
  margin-left: 130rpx;
  padding: 11rpx 24rpx 10rpx 23rpx;
}

.image_1 {
  width: 23rpx;
  height: 12rpx;
  margin: 10rpx 0 12rpx 0;
}

.label_5 {
  width: 27rpx;
  height: 34rpx;
  margin-left: 4rpx;
}

.label_6 {
  width: 27rpx;
  height: 27rpx;
  border: 4px rgba(51, 51, 51, 1);
  margin: 3rpx 0 4rpx 25rpx;
}

.section_7 {
  width: 640rpx;
  margin: 40rpx 66rpx 0 0;
}

.text-wrapper_1 {
  background: url(/static/lanhu_shaichajieguo/SketchPngcecaf39eb57fa5b6486f77ed1996b0d979240edee0a32e86df9649a8c40d2db0.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 15rpx 20rpx 17rpx 20rpx;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(37, 99, 235, 1);
  font-size: 28rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_2 {
  background: url(/static/lanhu_shaichajieguo/SketchPng086318dcb8c18be0cab4613c7a614538e74ed9c3455a7460c0d54b9f5fc27cb9.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 15rpx 20rpx 17rpx 20rpx;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_3 {
  background: url(/static/lanhu_shaichajieguo/SketchPngcff63fc946cbbd293c7cd87edb958cc3a79c4f2351de206a535617104d3cf3b2.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 16rpx 20rpx 16rpx 20rpx;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_4 {
  background: url(/static/lanhu_shaichajieguo/SketchPngeb551e02bf878cf78e770d6189f2fe05a36f86d864cc5252fe8bcce70b567c30.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 16rpx 20rpx 16rpx 20rpx;
}

.text_6 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_53 {
  margin: 40rpx 578rpx 0 0;
}

.text_7 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 32rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
}

.section_8 {
  margin: 30rpx 614rpx 0 0;
}

.text-wrapper_6 {
  background: url(/static/lanhu_shaichajieguo/SketchPng6ca7f7cc5aefef6c18a58167215b1337bc43308ee6c075fae8f9934f005e9510.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 16rpx 20rpx 16rpx 20rpx;
}

.text_8 {
  overflow-wrap: break-word;
  color: rgba(37, 99, 235, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.block_2 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  width: 690rpx;
  align-self: center;
  margin-top: -1rpx;
  padding: 30rpx 30rpx 30rpx 30rpx;
}

.box_4 {
  width: 630rpx;
}

.text_9 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 28rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.label_7 {
  width: 32rpx;
  height: 32rpx;
}

.text-wrapper_54 {
  width: 233rpx;
  margin: 16rpx 397rpx 0 0;
}

.text_10 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_11 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_55 {
  width: 351rpx;
  margin: 20rpx 279rpx 0 0;
}

.text_12 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_13 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_56 {
  position: relative;
  margin-top: 20rpx;
  padding: 0 393rpx 100rpx 0;
}

.text_14 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_15 {
  position: absolute;
  left: 0;
  top: 0;
  width: 630rpx;
  height: 128rpx;
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  line-height: 32rpx;
}

.text-wrapper_57 {
  width: 301rpx;
  margin: 20rpx 329rpx 0 0;
}

.text_16 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_17 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_58 {
  width: 433rpx;
  margin: 20rpx 197rpx 0 0;
}

.text_18 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_19 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_59 {
  width: 130rpx;
  margin: 20rpx 500rpx 0 0;
}

.text_20 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_21 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_60 {
  width: 276rpx;
  margin: 20rpx 354rpx 0 0;
}

.text_22 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_23 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_61 {
  width: 335rpx;
  margin: 20rpx 295rpx 0 0;
}

.text_24 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_25 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_26 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
  margin: 20rpx 458rpx 0 0;
}

.text_27 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
  margin: 20rpx 493rpx 0 0;
}

.text_28 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
  margin: 20rpx 519rpx 0 0;
}

.block_3 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  width: 690rpx;
  align-self: center;
  margin-top: 20rpx;
  padding: 30rpx 30rpx 30rpx 30rpx;
}

.block_8 {
  width: 630rpx;
}

.text_29 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 28rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.box_1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 32rpx;
  height: 32rpx;
  border: 2px solid rgba(204, 204, 204, 1);
}

.text-wrapper_62 {
  width: 233rpx;
  margin: 16rpx 397rpx 0 0;
}

.text_30 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_31 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_63 {
  width: 351rpx;
  margin: 20rpx 279rpx 0 0;
}

.text_32 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_33 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_64 {
  position: relative;
  margin-top: 20rpx;
  padding: 0 393rpx 100rpx 0;
}

.text_34 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_35 {
  position: absolute;
  left: 0;
  top: 0;
  width: 630rpx;
  height: 128rpx;
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  line-height: 32rpx;
}

.text-wrapper_65 {
  width: 301rpx;
  margin: 20rpx 329rpx 0 0;
}

.text_36 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_37 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_66 {
  width: 433rpx;
  margin: 20rpx 197rpx 0 0;
}

.text_38 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_39 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_67 {
  width: 130rpx;
  margin: 20rpx 500rpx 0 0;
}

.text_40 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_41 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_68 {
  width: 276rpx;
  margin: 20rpx 354rpx 0 0;
}

.text_42 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_43 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_69 {
  width: 335rpx;
  margin: 20rpx 295rpx 0 0;
}

.text_44 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_45 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_46 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
  margin: 20rpx 458rpx 0 0;
}

.text_47 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
  margin: 20rpx 493rpx 0 0;
}

.text_48 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
  margin: 20rpx 519rpx 0 0;
}

.text-wrapper_70 {
  padding: 40rpx 560rpx 21rpx 30rpx;
}

.text_49 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 32rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
}

.block_4 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  align-self: center;
  margin-top: -1rpx;
  width: 690rpx;
  padding: 30rpx 30rpx 30rpx 30rpx;
}

.block_9 {
}

.text_50 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_51 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.section_1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 32rpx;
  height: 32rpx;
  border: 2px solid rgba(204, 204, 204, 1);
  margin-left: 156rpx;
}

.text-wrapper_71 {
  width: 345rpx;
  margin: 16rpx 285rpx 0 0;
}

.text_52 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_53 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_72 {
  margin: 20rpx 510rpx 0 0;
}

.text_54 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_73 {
  margin: 20rpx 500rpx 0 0;
}

.text_55 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_74 {
  width: 276rpx;
  margin: 20rpx 354rpx 0 0;
}

.text_56 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_57 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_75 {
  width: 156rpx;
  margin: 20rpx 474rpx 0 0;
}

.text_58 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_59 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_76 {
  margin: 20rpx 458rpx 0 0;
}

.text_60 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_77 {
  margin: 20rpx 380rpx 0 0;
}

.text_61 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_78 {
  margin: 20rpx 328rpx 0 0;
}

.text_62 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_79 {
  padding: 40rpx 656rpx 21rpx 30rpx;
}

.text_63 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 32rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
}

.block_5 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  align-self: center;
  margin-top: -1rpx;
  width: 690rpx;
  padding: 30rpx 30rpx 30rpx 30rpx;
}

.box_5 {
}

.text_64 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_65 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
  margin-left: -10rpx;
}

.section_2 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 32rpx;
  height: 32rpx;
  border: 2px solid rgba(204, 204, 204, 1);
  margin-left: 395rpx;
}

.text-wrapper_80 {
  width: 203rpx;
  margin: 16rpx 427rpx 0 0;
}

.text_66 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_67 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_81 {
  width: 203rpx;
  margin: 20rpx 427rpx 0 0;
}

.text_68 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_69 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_82 {
  width: 211rpx;
  margin: 20rpx 419rpx 0 0;
}

.text_70 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_71 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_83 {
  width: 172rpx;
  margin: 20rpx 458rpx 0 0;
}

.text_72 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_73 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_84 {
  width: 156rpx;
  margin: 20rpx 474rpx 0 0;
}

.text_74 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_75 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_85 {
  margin: 20rpx 474rpx 0 0;
}

.text_76 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_86 {
  margin: 20rpx 500rpx 0 0;
}

.text_77 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_87 {
  margin: 20rpx 448rpx 0 0;
}

.text_78 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_88 {
  margin: 20rpx 500rpx 0 0;
}

.text_79 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_89 {
  margin: 20rpx 500rpx 0 0;
}

.text_80 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_90 {
  padding: 40rpx 656rpx 21rpx 30rpx;
}

.text_81 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 32rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
}

.block_6 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  align-self: center;
  margin-top: -1rpx;
  width: 690rpx;
  padding: 30rpx 30rpx 30rpx 30rpx;
}

.box_6 {
  width: 630rpx;
}

.list_2 {
  width: 263rpx;
  height: 76rpx;
}

.text-wrapper_91 {
  margin-right: -2rpx;
}

.text_82 {
  width: 182rpx;
  overflow-wrap: break-word;
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_83 {
  width: 172rpx;
  overflow-wrap: break-word;
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
  margin: 20rpx 10rpx 0 0;
}

.box_2 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 32rpx;
  height: 32rpx;
  border: 2px solid rgba(204, 204, 204, 1);
  margin-bottom: 44rpx;
}

.text-wrapper_92 {
  width: 263rpx;
  margin: 20rpx 367rpx 0 0;
}

.text_84 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_85 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_93 {
  margin: 20rpx 367rpx 0 0;
}

.text_86 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_87 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
  margin-left: -2rpx;
}

.text-wrapper_94 {
  margin: 20rpx 451rpx 0 0;
}

.text_88 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_95 {
  margin: 20rpx 415rpx 0 0;
}

.text_89 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_96 {
  margin: 20rpx 396rpx 0 0;
}

.text_90 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_97 {
  margin: 20rpx 500rpx 0 0;
}

.text_91 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_98 {
  margin: 20rpx 500rpx 0 0;
}

.text_92 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.block_7 {
  background-color: rgba(255, 255, 255, 1);
  margin-top: 23rpx;
  padding: 30rpx 30rpx 16rpx 30rpx;
}

.text-wrapper_52 {
  background-color: rgba(37, 99, 235, 1);
  border-radius: 8px;
  padding: 22rpx 249rpx 21rpx 249rpx;
}

.text_93 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 32rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 45rpx;
}

.section_4 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 5px;
  width: 270rpx;
  height: 10rpx;
  align-self: center;
  margin-top: 36rpx;
}
