.page {
  background-color: rgba(242, 245, 250, 1);
  position: relative;
  width: 750px;
  height: 3890px;
  overflow: hidden;
}

.box_3 {
  padding: 29px 14px 31px 30px;
}

.section_5 {
  margin: 0 1px 0 12px;
}

.text_94 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 30px;
  letter-spacing: -0.6000000238418579px;
  font-family: SFProText-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 36px;
}

.label_8 {
  width: 34px;
  height: 22px;
  margin: 4px 0 10px 495px;
}

.label_9 {
  width: 30px;
  height: 22px;
  margin: 4px 0 10px 10px;
}

.label_10 {
  width: 48px;
  height: 23px;
  margin: 4px 0 9px 10px;
}

.section_6 {
  margin-top: 33px;
}

.label_4 {
  width: 32px;
  height: 32px;
  margin: 13px 0 12px 0;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 38px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 40px;
  margin: 17px 0 0 237px;
}

.image-wrapper_1 {
  background-color: rgba(254, 254, 254, 1);
  border-radius: 32px;
  border: 1px solid rgba(242, 242, 242, 1);
  margin-left: 130px;
  padding: 11px 24px 10px 23px;
}

.image_1 {
  width: 23px;
  height: 12px;
  margin: 10px 0 12px 0;
}

.label_5 {
  width: 27px;
  height: 34px;
  margin-left: 4px;
}

.label_6 {
  width: 27px;
  height: 27px;
  border: 4px rgba(51, 51, 51, 1);
  margin: 3px 0 4px 25px;
}

.section_7 {
  width: 640px;
  margin: 40px 66px 0 0;
}

.text-wrapper_1 {
  background: url(/static/lanhu_shaichajieguo/SketchPngcecaf39eb57fa5b6486f77ed1996b0d979240edee0a32e86df9649a8c40d2db0.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 15px 20px 17px 20px;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(37, 99, 235, 1);
  font-size: 28px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_2 {
  background: url(/static/lanhu_shaichajieguo/SketchPng086318dcb8c18be0cab4613c7a614538e74ed9c3455a7460c0d54b9f5fc27cb9.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 15px 20px 17px 20px;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_3 {
  background: url(/static/lanhu_shaichajieguo/SketchPngcff63fc946cbbd293c7cd87edb958cc3a79c4f2351de206a535617104d3cf3b2.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 16px 20px 16px 20px;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_4 {
  background: url(/static/lanhu_shaichajieguo/SketchPngeb551e02bf878cf78e770d6189f2fe05a36f86d864cc5252fe8bcce70b567c30.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 16px 20px 16px 20px;
}

.text_6 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_53 {
  margin: 40px 578px 0 0;
}

.text_7 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 32px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
}

.section_8 {
  margin: 30px 614px 0 0;
}

.text-wrapper_6 {
  background: url(/static/lanhu_shaichajieguo/SketchPng6ca7f7cc5aefef6c18a58167215b1337bc43308ee6c075fae8f9934f005e9510.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 16px 20px 16px 20px;
}

.text_8 {
  overflow-wrap: break-word;
  color: rgba(37, 99, 235, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.block_2 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  width: 690px;
  align-self: center;
  margin-top: -1px;
  padding: 30px 30px 30px 30px;
}

.box_4 {
  width: 630px;
}

.text_9 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 28px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.label_7 {
  width: 32px;
  height: 32px;
}

.text-wrapper_54 {
  width: 233px;
  margin: 16px 397px 0 0;
}

.text_10 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_11 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_55 {
  width: 351px;
  margin: 20px 279px 0 0;
}

.text_12 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_13 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_56 {
  position: relative;
  margin-top: 20px;
  padding: 0 393px 100px 0;
}

.text_14 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_15 {
  position: absolute;
  left: 0;
  top: 0;
  width: 630px;
  height: 128px;
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  line-height: 32px;
}

.text-wrapper_57 {
  width: 301px;
  margin: 20px 329px 0 0;
}

.text_16 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_17 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_58 {
  width: 433px;
  margin: 20px 197px 0 0;
}

.text_18 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_19 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_59 {
  width: 130px;
  margin: 20px 500px 0 0;
}

.text_20 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_21 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_60 {
  width: 276px;
  margin: 20px 354px 0 0;
}

.text_22 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_23 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_61 {
  width: 335px;
  margin: 20px 295px 0 0;
}

.text_24 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_25 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_26 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin: 20px 458px 0 0;
}

.text_27 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin: 20px 493px 0 0;
}

.text_28 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin: 20px 519px 0 0;
}

.block_3 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  width: 690px;
  align-self: center;
  margin-top: 20px;
  padding: 30px 30px 30px 30px;
}

.block_8 {
  width: 630px;
}

.text_29 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 28px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.box_1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 32px;
  height: 32px;
  border: 2px solid rgba(204, 204, 204, 1);
}

.text-wrapper_62 {
  width: 233px;
  margin: 16px 397px 0 0;
}

.text_30 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_31 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_63 {
  width: 351px;
  margin: 20px 279px 0 0;
}

.text_32 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_33 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_64 {
  position: relative;
  margin-top: 20px;
  padding: 0 393px 100px 0;
}

.text_34 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_35 {
  position: absolute;
  left: 0;
  top: 0;
  width: 630px;
  height: 128px;
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  line-height: 32px;
}

.text-wrapper_65 {
  width: 301px;
  margin: 20px 329px 0 0;
}

.text_36 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_37 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_66 {
  width: 433px;
  margin: 20px 197px 0 0;
}

.text_38 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_39 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_67 {
  width: 130px;
  margin: 20px 500px 0 0;
}

.text_40 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_41 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_68 {
  width: 276px;
  margin: 20px 354px 0 0;
}

.text_42 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_43 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_69 {
  width: 335px;
  margin: 20px 295px 0 0;
}

.text_44 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_45 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_46 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin: 20px 458px 0 0;
}

.text_47 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin: 20px 493px 0 0;
}

.text_48 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin: 20px 519px 0 0;
}

.text-wrapper_70 {
  padding: 40px 560px 21px 30px;
}

.text_49 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 32px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
}

.block_4 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  align-self: center;
  margin-top: -1px;
  width: 690px;
  padding: 30px 30px 30px 30px;
}

.block_9 {
}

.text_50 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_51 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.section_1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 32px;
  height: 32px;
  border: 2px solid rgba(204, 204, 204, 1);
  margin-left: 156px;
}

.text-wrapper_71 {
  width: 345px;
  margin: 16px 285px 0 0;
}

.text_52 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_53 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_72 {
  margin: 20px 510px 0 0;
}

.text_54 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_73 {
  margin: 20px 500px 0 0;
}

.text_55 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_74 {
  width: 276px;
  margin: 20px 354px 0 0;
}

.text_56 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_57 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_75 {
  width: 156px;
  margin: 20px 474px 0 0;
}

.text_58 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_59 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_76 {
  margin: 20px 458px 0 0;
}

.text_60 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_77 {
  margin: 20px 380px 0 0;
}

.text_61 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_78 {
  margin: 20px 328px 0 0;
}

.text_62 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_79 {
  padding: 40px 656px 21px 30px;
}

.text_63 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 32px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
}

.block_5 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  align-self: center;
  margin-top: -1px;
  width: 690px;
  padding: 30px 30px 30px 30px;
}

.box_5 {
}

.text_64 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_65 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin-left: -10px;
}

.section_2 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 32px;
  height: 32px;
  border: 2px solid rgba(204, 204, 204, 1);
  margin-left: 395px;
}

.text-wrapper_80 {
  width: 203px;
  margin: 16px 427px 0 0;
}

.text_66 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_67 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_81 {
  width: 203px;
  margin: 20px 427px 0 0;
}

.text_68 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_69 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_82 {
  width: 211px;
  margin: 20px 419px 0 0;
}

.text_70 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_71 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_83 {
  width: 172px;
  margin: 20px 458px 0 0;
}

.text_72 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_73 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_84 {
  width: 156px;
  margin: 20px 474px 0 0;
}

.text_74 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_75 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_85 {
  margin: 20px 474px 0 0;
}

.text_76 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_86 {
  margin: 20px 500px 0 0;
}

.text_77 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_87 {
  margin: 20px 448px 0 0;
}

.text_78 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_88 {
  margin: 20px 500px 0 0;
}

.text_79 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_89 {
  margin: 20px 500px 0 0;
}

.text_80 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_90 {
  padding: 40px 656px 21px 30px;
}

.text_81 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 32px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
}

.block_6 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  align-self: center;
  margin-top: -1px;
  width: 690px;
  padding: 30px 30px 30px 30px;
}

.box_6 {
  width: 630px;
}

.list_2 {
  width: 263px;
  height: 76px;
}

.text-wrapper_91 {
  margin-right: -2px;
}

.text_82 {
  width: 182px;
  overflow-wrap: break-word;
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_83 {
  width: 172px;
  overflow-wrap: break-word;
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin: 20px 10px 0 0;
}

.box_2 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 32px;
  height: 32px;
  border: 2px solid rgba(204, 204, 204, 1);
  margin-bottom: 44px;
}

.text-wrapper_92 {
  width: 263px;
  margin: 20px 367px 0 0;
}

.text_84 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_85 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_93 {
  margin: 20px 367px 0 0;
}

.text_86 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_87 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin-left: -2px;
}

.text-wrapper_94 {
  margin: 20px 451px 0 0;
}

.text_88 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_95 {
  margin: 20px 415px 0 0;
}

.text_89 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_96 {
  margin: 20px 396px 0 0;
}

.text_90 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_97 {
  margin: 20px 500px 0 0;
}

.text_91 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text-wrapper_98 {
  margin: 20px 500px 0 0;
}

.text_92 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 26px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.block_7 {
  background-color: rgba(255, 255, 255, 1);
  margin-top: 23px;
  padding: 30px 30px 16px 30px;
}

.text-wrapper_52 {
  background-color: rgba(37, 99, 235, 1);
  border-radius: 8px;
  padding: 22px 249px 21px 249px;
}

.text_93 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 32px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 45px;
}

.section_4 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 5px;
  width: 270px;
  height: 10px;
  align-self: center;
  margin-top: 36px;
}
