html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(242, 245, 250, 1);
  position: relative;
  width: 20rem;
  height: 103.734rem;
  overflow: hidden;
}

.box_3 {
  padding: 0.774rem 0.374rem 0.827rem 0.8rem;
}

.section_5 {
  margin: 0 0.027rem 0 0.32rem;
}

.text_94 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.8rem;
  letter-spacing: -0.6000000238418579px;
  font-family: SFProText-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 0.96rem;
}

.label_8 {
  width: 0.907rem;
  height: 0.587rem;
  margin: 0.107rem 0 0.267rem 13.2rem;
}

.label_9 {
  width: 0.8rem;
  height: 0.587rem;
  margin: 0.107rem 0 0.267rem 0.267rem;
}

.label_10 {
  width: 1.28rem;
  height: 0.614rem;
  margin: 0.107rem 0 0.24rem 0.267rem;
}

.section_6 {
  margin-top: 0.88rem;
}

.label_4 {
  width: 0.854rem;
  height: 0.854rem;
  margin: 0.347rem 0 0.32rem 0;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 1.013rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.067rem;
  margin: 0.454rem 0 0 6.32rem;
}

.image-wrapper_1 {
  background-color: rgba(254, 254, 254, 1);
  border-radius: 32px;
  border: 1px solid rgba(242, 242, 242, 1);
  margin-left: 3.467rem;
  padding: 0.294rem 0.64rem 0.267rem 0.614rem;
}

.image_1 {
  width: 0.614rem;
  height: 0.32rem;
  margin: 0.267rem 0 0.32rem 0;
}

.label_5 {
  width: 0.72rem;
  height: 0.907rem;
  margin-left: 0.107rem;
}

.label_6 {
  width: 0.72rem;
  height: 0.72rem;
  border: 4px rgba(51, 51, 51, 1);
  margin: 0.08rem 0 0.107rem 0.667rem;
}

.section_7 {
  width: 17.067rem;
  margin: 1.067rem 1.76rem 0 0;
}

.text-wrapper_1 {
  background: url(/static/lanhu_shaichajieguo/SketchPngcecaf39eb57fa5b6486f77ed1996b0d979240edee0a32e86df9649a8c40d2db0.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 0.4rem 0.534rem 0.454rem 0.534rem;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(37, 99, 235, 1);
  font-size: 0.746rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_2 {
  background: url(/static/lanhu_shaichajieguo/SketchPng086318dcb8c18be0cab4613c7a614538e74ed9c3455a7460c0d54b9f5fc27cb9.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 0.4rem 0.534rem 0.454rem 0.534rem;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_3 {
  background: url(/static/lanhu_shaichajieguo/SketchPngcff63fc946cbbd293c7cd87edb958cc3a79c4f2351de206a535617104d3cf3b2.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 0.427rem 0.534rem 0.427rem 0.534rem;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_4 {
  background: url(/static/lanhu_shaichajieguo/SketchPngeb551e02bf878cf78e770d6189f2fe05a36f86d864cc5252fe8bcce70b567c30.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 0.427rem 0.534rem 0.427rem 0.534rem;
}

.text_6 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_53 {
  margin: 1.067rem 15.414rem 0 0;
}

.text_7 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.853rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
}

.section_8 {
  margin: 0.8rem 16.374rem 0 0;
}

.text-wrapper_6 {
  background: url(/static/lanhu_shaichajieguo/SketchPng6ca7f7cc5aefef6c18a58167215b1337bc43308ee6c075fae8f9934f005e9510.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 0.427rem 0.534rem 0.427rem 0.534rem;
}

.text_8 {
  overflow-wrap: break-word;
  color: rgba(37, 99, 235, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.block_2 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  width: 18.4rem;
  align-self: center;
  margin-top: -0.026rem;
  padding: 0.8rem 0.8rem 0.8rem 0.8rem;
}

.box_4 {
  width: 16.8rem;
}

.text_9 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.746rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.label_7 {
  width: 0.854rem;
  height: 0.854rem;
}

.text-wrapper_54 {
  width: 6.214rem;
  margin: 0.427rem 10.587rem 0 0;
}

.text_10 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text_11 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_55 {
  width: 9.36rem;
  margin: 0.534rem 7.44rem 0 0;
}

.text_12 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text_13 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_56 {
  position: relative;
  margin-top: 0.534rem;
  padding: 0 10.48rem 2.667rem 0;
}

.text_14 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text_15 {
  position: absolute;
  left: 0;
  top: 0;
  width: 16.8rem;
  height: 3.414rem;
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  line-height: 0.854rem;
}

.text-wrapper_57 {
  width: 8.027rem;
  margin: 0.534rem 8.774rem 0 0;
}

.text_16 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text_17 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_58 {
  width: 11.547rem;
  margin: 0.534rem 5.254rem 0 0;
}

.text_18 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text_19 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_59 {
  width: 3.467rem;
  margin: 0.534rem 13.334rem 0 0;
}

.text_20 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text_21 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_60 {
  width: 7.36rem;
  margin: 0.534rem 9.44rem 0 0;
}

.text_22 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text_23 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_61 {
  width: 8.934rem;
  margin: 0.534rem 7.867rem 0 0;
}

.text_24 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text_25 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text_26 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.534rem 12.214rem 0 0;
}

.text_27 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.534rem 13.147rem 0 0;
}

.text_28 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.534rem 13.84rem 0 0;
}

.block_3 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  width: 18.4rem;
  align-self: center;
  margin-top: 0.534rem;
  padding: 0.8rem 0.8rem 0.8rem 0.8rem;
}

.block_8 {
  width: 16.8rem;
}

.text_29 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.746rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.box_1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 0.854rem;
  height: 0.854rem;
  border: 2px solid rgba(204, 204, 204, 1);
}

.text-wrapper_62 {
  width: 6.214rem;
  margin: 0.427rem 10.587rem 0 0;
}

.text_30 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text_31 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_63 {
  width: 9.36rem;
  margin: 0.534rem 7.44rem 0 0;
}

.text_32 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text_33 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_64 {
  position: relative;
  margin-top: 0.534rem;
  padding: 0 10.48rem 2.667rem 0;
}

.text_34 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text_35 {
  position: absolute;
  left: 0;
  top: 0;
  width: 16.8rem;
  height: 3.414rem;
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  line-height: 0.854rem;
}

.text-wrapper_65 {
  width: 8.027rem;
  margin: 0.534rem 8.774rem 0 0;
}

.text_36 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text_37 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_66 {
  width: 11.547rem;
  margin: 0.534rem 5.254rem 0 0;
}

.text_38 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text_39 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_67 {
  width: 3.467rem;
  margin: 0.534rem 13.334rem 0 0;
}

.text_40 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text_41 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_68 {
  width: 7.36rem;
  margin: 0.534rem 9.44rem 0 0;
}

.text_42 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text_43 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_69 {
  width: 8.934rem;
  margin: 0.534rem 7.867rem 0 0;
}

.text_44 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text_45 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text_46 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.534rem 12.214rem 0 0;
}

.text_47 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.534rem 13.147rem 0 0;
}

.text_48 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.534rem 13.84rem 0 0;
}

.text-wrapper_70 {
  padding: 1.067rem 14.934rem 0.56rem 0.8rem;
}

.text_49 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.853rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
}

.block_4 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  align-self: center;
  margin-top: -0.026rem;
  width: 18.4rem;
  padding: 0.8rem 0.8rem 0.8rem 0.8rem;
}

.block_9 {
}

.text_50 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text_51 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.section_1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 0.854rem;
  height: 0.854rem;
  border: 2px solid rgba(204, 204, 204, 1);
  margin-left: 4.16rem;
}

.text-wrapper_71 {
  width: 9.2rem;
  margin: 0.427rem 7.6rem 0 0;
}

.text_52 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text_53 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_72 {
  margin: 0.534rem 13.6rem 0 0;
}

.text_54 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_73 {
  margin: 0.534rem 13.334rem 0 0;
}

.text_55 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_74 {
  width: 7.36rem;
  margin: 0.534rem 9.44rem 0 0;
}

.text_56 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text_57 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_75 {
  width: 4.16rem;
  margin: 0.534rem 12.64rem 0 0;
}

.text_58 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text_59 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_76 {
  margin: 0.534rem 12.214rem 0 0;
}

.text_60 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_77 {
  margin: 0.534rem 10.134rem 0 0;
}

.text_61 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_78 {
  margin: 0.534rem 8.747rem 0 0;
}

.text_62 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_79 {
  padding: 1.067rem 17.494rem 0.56rem 0.8rem;
}

.text_63 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.853rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
}

.block_5 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  align-self: center;
  margin-top: -0.026rem;
  width: 18.4rem;
  padding: 0.8rem 0.8rem 0.8rem 0.8rem;
}

.box_5 {
}

.text_64 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text_65 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin-left: -0.266rem;
}

.section_2 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 0.854rem;
  height: 0.854rem;
  border: 2px solid rgba(204, 204, 204, 1);
  margin-left: 10.534rem;
}

.text-wrapper_80 {
  width: 5.414rem;
  margin: 0.427rem 11.387rem 0 0;
}

.text_66 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text_67 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_81 {
  width: 5.414rem;
  margin: 0.534rem 11.387rem 0 0;
}

.text_68 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text_69 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_82 {
  width: 5.627rem;
  margin: 0.534rem 11.174rem 0 0;
}

.text_70 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text_71 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_83 {
  width: 4.587rem;
  margin: 0.534rem 12.214rem 0 0;
}

.text_72 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text_73 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_84 {
  width: 4.16rem;
  margin: 0.534rem 12.64rem 0 0;
}

.text_74 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text_75 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_85 {
  margin: 0.534rem 12.64rem 0 0;
}

.text_76 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_86 {
  margin: 0.534rem 13.334rem 0 0;
}

.text_77 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_87 {
  margin: 0.534rem 11.947rem 0 0;
}

.text_78 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_88 {
  margin: 0.534rem 13.334rem 0 0;
}

.text_79 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_89 {
  margin: 0.534rem 13.334rem 0 0;
}

.text_80 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_90 {
  padding: 1.067rem 17.494rem 0.56rem 0.8rem;
}

.text_81 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.853rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
}

.block_6 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  align-self: center;
  margin-top: -0.026rem;
  width: 18.4rem;
  padding: 0.8rem 0.8rem 0.8rem 0.8rem;
}

.box_6 {
  width: 16.8rem;
}

.list_2 {
  width: 7.014rem;
  height: 2.027rem;
}

.text-wrapper_91 {
  margin-right: -0.053rem;
}

.text_82 {
  width: 4.854rem;
  overflow-wrap: break-word;
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text_83 {
  width: 4.587rem;
  overflow-wrap: break-word;
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.534rem 0.267rem 0 0;
}

.box_2 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 0.854rem;
  height: 0.854rem;
  border: 2px solid rgba(204, 204, 204, 1);
  margin-bottom: 1.174rem;
}

.text-wrapper_92 {
  width: 7.014rem;
  margin: 0.534rem 9.787rem 0 0;
}

.text_84 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text_85 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_93 {
  margin: 0.534rem 9.787rem 0 0;
}

.text_86 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text_87 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin-left: -0.053rem;
}

.text-wrapper_94 {
  margin: 0.534rem 12.027rem 0 0;
}

.text_88 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_95 {
  margin: 0.534rem 11.067rem 0 0;
}

.text_89 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_96 {
  margin: 0.534rem 10.56rem 0 0;
}

.text_90 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_97 {
  margin: 0.534rem 13.334rem 0 0;
}

.text_91 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text-wrapper_98 {
  margin: 0.534rem 13.334rem 0 0;
}

.text_92 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.block_7 {
  background-color: rgba(255, 255, 255, 1);
  margin-top: 0.614rem;
  padding: 0.8rem 0.8rem 0.427rem 0.8rem;
}

.text-wrapper_52 {
  background-color: rgba(37, 99, 235, 1);
  border-radius: 8px;
  padding: 0.587rem 6.64rem 0.56rem 6.64rem;
}

.text_93 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.853rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.2rem;
}

.section_4 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 5px;
  width: 7.2rem;
  height: 0.267rem;
  align-self: center;
  margin-top: 0.96rem;
}
