.page {
  width: 100%;
  height: 100%;
  overflow: hidden auto;
  background-color: #f8f8f8;
}

.fixed-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.h-180rpx {
  height: 180rpx;
}

.group_1 {
  width: 100%;
  background-color: #fff;
}

.block_8 {
  padding: 88rpx 32rpx 24rpx;
}

.text_2 {
  font-size: 36rpx;
  font-weight: bold;
  line-height: 50rpx;
  color: #333;
}

.image_1 {
  width: 44rpx;
  height: 44rpx;
}

.box_12 {
  padding: 20rpx 0;
  background-color: #fff;
}

.list_13 {
  padding: 0 32rpx;
}

.image-text_1 {
  margin-right: 40rpx;
}

.text-group_1 {
  margin-top: 8rpx;
  font-size: 24rpx;
  line-height: 34rpx;
  color: #666;
}

.group_3 {
  padding-bottom: 20rpx;
  margin-top: 20rpx;
  background-color: #fff;
}

.block_9 {
  padding: 20rpx 32rpx;
  border-bottom: 1rpx solid #eee;
}

.text-wrapper_1 {
  flex: 1;
}

.text_3 {
  font-size: 32rpx;
  font-weight: bold;
  line-height: 45rpx;
  color: #333;
}

.text_4 {
  margin-left: 4rpx;
  font-size: 32rpx;
  line-height: 45rpx;
  color: #333;
}

.text_5 {
  margin-left: 8rpx;
  font-size: 28rpx;
  line-height: 40rpx;
  color: #999;
}

.label_4,
.label_5 {
  width: 48rpx;
  height: 48rpx;
  margin-left: 32rpx;
}

.block_10 {
  padding: 0 32rpx;
}
/* 文件夹样式 */
.section_3,
.section_4,
.section_5 {
  padding: 24rpx 0;
  border-bottom: 1rpx solid #eee;
}

.image_3 {
  width: 80rpx;
  height: 80rpx;
}

.text-group_33 {
  flex: 1;
  margin-left: 24rpx;
}

.text_6 {
  font-size: 32rpx;
  line-height: 45rpx;
  color: #333;
}

.text_7 {
  margin-top: 8rpx;
  font-size: 24rpx;
  line-height: 34rpx;
  color: #999;
}

.label_6 {
  width: 32rpx;
  height: 32rpx;
  margin-right: 8rpx;
}

.text_8 {
  font-size: 24rpx;
  line-height: 34rpx;
  color: #999;
}

.label_7 {
  width: 32rpx;
  height: 32rpx;
  margin-left: 24rpx;
}
/* 文件样式 */
.block_11 {
  padding: 24rpx 0;
  border-bottom: 1rpx solid #eee;
}

.image-text_34 {
  flex: 1;
}

.image-wrapper_1 {
  justify-content: center;
}

.image_6 {
  width: 80rpx;
  height: 80rpx;
}

.text-group_36 {
  flex: 1;
  margin-left: 24rpx;
}

.text_15 {
  width: 500rpx;
  overflow: hidden;
  font-size: 32rpx;
  line-height: 45rpx;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text_16 {
  margin-top: 8rpx;
  font-size: 24rpx;
  line-height: 34rpx;
  color: #999;
}

.block_1 {
  width: 40rpx;
  height: 40rpx;
  border: 2rpx solid #ddd;
  border-radius: 50%;
}

.block_1.selected {
  position: relative;
  background-color: #2563eb;
  border-color: #2563eb;
}

.block_1.selected::after {
  position: absolute;
  top: 12rpx;
  left: 8rpx;
  width: 20rpx;
  height: 12rpx;
  content: '';
  border-bottom: 2rpx solid #fff;
  border-left: 2rpx solid #fff;
  transform: rotate(-45deg);
}
/* 字体图标样式 */
.font_family {
  font-family: iconfont;
}
