html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(242, 245, 250, 1);
  position: relative;
  width: 20rem;
  height: 43.307rem;
  overflow: hidden;
}

.box_1 {
  background-color: rgba(255, 255, 255, 1);
  padding: 0.774rem 0.374rem 0.667rem 0.534rem;
}

.group_1 {
  margin: 0 0.027rem 0 0.587rem;
}

.text_1 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.8rem;
  letter-spacing: -0.6000000238418579px;
  font-family: SFProText-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 0.96rem;
}

.label_1 {
  width: 0.907rem;
  height: 0.587rem;
  margin: 0.107rem 0 0.267rem 13.2rem;
}

.label_2 {
  width: 0.8rem;
  height: 0.587rem;
  margin: 0.107rem 0 0.267rem 0.267rem;
}

.label_3 {
  width: 1.28rem;
  height: 0.614rem;
  margin: 0.107rem 0 0.24rem 0.267rem;
}

.group_2 {
  margin-top: 0.88rem;
}

.image_1 {
  width: 1.467rem;
  height: 1.467rem;
  margin: 0.027rem 0 0.027rem 0;
}

.section_1 {
  margin: 0.4rem 0 0.294rem 0.267rem;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(7, 25, 59, 1);
  font-size: 0.693rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.694rem;
}

.image_2 {
  width: 10.24rem;
  height: 0.027rem;
  align-self: center;
  margin-top: 0.107rem;
}

.label_4 {
  width: 0.854rem;
  height: 0.854rem;
  margin: 0.4rem 0 0.267rem 0.24rem;
}

.image_3 {
  width: 4.134rem;
  height: 1.52rem;
  margin-left: 1.84rem;
}

.image_4 {
  width: 18.934rem;
  height: 13.147rem;
  align-self: center;
  margin-top: 7.6rem;
}

.box_2 {
  background-color: rgba(255, 255, 255, 1);
  margin-top: 8.16rem;
  padding: 0.8rem 0 0.427rem 0;
}

.section_2 {
  width: 7.2rem;
  margin: 0 12rem 0 0.8rem;
}

.group_3 {
  border-radius: 8px;
  background-image: url(/static/lanhu_paizhaohoubeifen/c09a88a769ed4d8c8f84e170f02fe424_mergeImage.png);
  border: 1px solid rgba(151, 151, 151, 1);
  padding-top: 2.32rem;
}

.text-wrapper_1 {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.107rem 1.12rem 0.08rem 1.12rem;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.667rem;
}

.group_4 {
  border-radius: 8px;
  background-image: url(/static/lanhu_paizhaohoubeifen/f703bf8de8c34e2ba1e95ecc28f0ee3e_mergeImage.png);
  border: 2px solid rgba(37, 99, 235, 1);
  padding-top: 2.294rem;
}

.text-wrapper_2 {
  background-color: rgba(37, 99, 235, 1);
  padding: 0.107rem 0.16rem 0.08rem 0.16rem;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.667rem;
}

.image_5 {
  width: 20rem;
  height: 0.027rem;
  margin-top: 0.774rem;
}

.section_3 {
  width: 17.734rem;
  margin: 0.88rem 0.8rem 0 1.467rem;
}

.list_1 {
  width: 11.787rem;
  height: 1.867rem;
}

.image-text_1 {
  margin-right: 1.92rem;
}

.label_5 {
  width: 1.067rem;
  height: 1.067rem;
  align-self: center;
}

.text-group_1 {
  width: 1.92rem;
  overflow-wrap: break-word;
  color: rgba(68, 68, 68, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.48rem;
  margin-top: 0.32rem;
}

.image-wrapper_1 {
  background-color: rgba(37, 99, 235, 1);
  border-radius: 8px;
  margin: 0.187rem 0 0.08rem 0;
  padding: 0.32rem 1.147rem 0.32rem 1.147rem;
}

.label_6 {
  width: 0.96rem;
  height: 0.96rem;
}

.section_4 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 5px;
  width: 7.2rem;
  height: 0.267rem;
  align-self: center;
  margin-top: 1.36rem;
}
