.page {
  background-color: rgba(242, 245, 250, 1);
  position: relative;
  width: 750rpx;
  height: 1624rpx;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 666rpx;
}

.section_1 {
  background-color: rgba(255, 255, 255, 1);
  padding: 29rpx 14rpx 29rpx 30rpx;
}

.group_13 {
  margin: 0 1rpx 0 12rpx;
}

.text_25 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 30rpx;
  letter-spacing: -0.6000000238418579px;
  font-family: SFProText-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 36rpx;
}

.label_21 {
  width: 34rpx;
  height: 22rpx;
  margin: 4rpx 0 10rpx 495rpx;
}

.label_22 {
  width: 30rpx;
  height: 22rpx;
  margin: 4rpx 0 10rpx 10rpx;
}

.label_23 {
  width: 48rpx;
  height: 23rpx;
  margin: 4rpx 0 9rpx 10rpx;
}

.group_14 {
  width: 437rpx;
  margin: 33rpx 0 0 269rpx;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 38rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 40rpx;
  margin-top: 17rpx;
}

.image_1 {
  width: 155rpx;
  height: 57rpx;
}

.text-wrapper_7 {
  width: 690rpx;
  margin: 44rpx 16rpx 0 0;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 28rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(37, 99, 235, 1);
  font-size: 28rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
}

.section_2 {
  background-color: rgba(255, 255, 255, 1);
  margin-top: 10rpx;
  padding: 30rpx 30rpx 20rpx 30rpx;
}

.group_1 {
  background-color: rgba(249, 248, 252, 1);
  border-radius: 8px;
  padding: 21rpx 20rpx 18rpx 30rpx;
}

.image_2 {
  width: 68rpx;
  height: 68rpx;
  margin-bottom: 3rpx;
}

.text-group_21 {
  margin: 1rpx 0 2rpx 20rpx;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 28rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
  margin-right: 146rpx;
}

.text_6 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 24rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24rpx;
  margin-top: 16rpx;
}

.label_4 {
  width: 24rpx;
  height: 24rpx;
  margin: 47rpx 0 0 24rpx;
}

.text_7 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 24rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24rpx;
  margin: 47rpx 0 0 4rpx;
}

.label_5 {
  width: 32rpx;
  height: 32rpx;
  margin: 20rpx 0 19rpx 251rpx;
}

.group_2 {
  background-color: rgba(249, 248, 252, 1);
  border-radius: 8px;
  margin-top: 16rpx;
  padding: 18rpx 20rpx 20rpx 30rpx;
}

.image-text_17 {
  width: 290rpx;
}

.image_3 {
  width: 68rpx;
  height: 68rpx;
  margin-bottom: 4rpx;
}

.text-group_22 {
  margin-top: 2rpx;
}

.text_8 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 28rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
  margin-right: 129rpx;
}

.text_9 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 24rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24rpx;
  margin-top: 18rpx;
}

.label_6 {
  width: 24rpx;
  height: 24rpx;
  margin: 48rpx 0 0 30rpx;
}

.text_10 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 24rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24rpx;
  margin: 48rpx 0 0 4rpx;
}

.label_7 {
  width: 32rpx;
  height: 32rpx;
  margin: 21rpx 0 19rpx 245rpx;
}

.group_3 {
  background-color: rgba(249, 248, 252, 1);
  border-radius: 8px;
  margin-top: 16rpx;
  padding: 20rpx 20rpx 20rpx 30rpx;
}

.image-text_18 {
  width: 290rpx;
}

.image_4 {
  width: 68rpx;
  height: 68rpx;
  margin: 1rpx 0 1rpx 0;
}

.text-group_23 {
}

.text_11 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 28rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
  margin-right: 129rpx;
}

.text_12 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 24rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24rpx;
  margin-top: 18rpx;
}

.label_8 {
  width: 24rpx;
  height: 24rpx;
  margin: 46rpx 0 0 30rpx;
}

.text_13 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 24rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24rpx;
  margin: 46rpx 0 0 4rpx;
}

.label_9 {
  width: 32rpx;
  height: 32rpx;
  margin: 19rpx 0 19rpx 245rpx;
}

.group_15 {
  width: 690rpx;
  margin-top: 20rpx;
}

.image-text_19 {
  width: 548rpx;
}

.image-wrapper_1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  border: 1px solid rgba(221, 221, 221, 1);
  padding: 20rpx 2rpx 20rpx 2rpx;
}

.image_5 {
  width: 112rpx;
  height: 76rpx;
}

.text-group_24 {
  margin: 24rpx 0 24rpx 0;
}

.text_14 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 28rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_15 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 24rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24rpx;
  margin: 18rpx 208rpx 0 0;
}

.label_10 {
  width: 32rpx;
  height: 32rpx;
  margin: 43rpx 0 43rpx 0;
}

.group_16 {
  width: 690rpx;
  margin-top: 20rpx;
}

.image-text_20 {
  width: 548rpx;
}

.image-wrapper_2 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  border: 1px solid rgba(221, 221, 221, 1);
  padding: 20rpx 2rpx 20rpx 2rpx;
}

.image_6 {
  width: 112rpx;
  height: 76rpx;
}

.text-group_25 {
  margin: 24rpx 0 24rpx 0;
}

.text_16 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 28rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_17 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 24rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24rpx;
  margin: 18rpx 208rpx 0 0;
}

.section_3 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 32rpx;
  height: 32rpx;
  border: 2px solid rgba(204, 204, 204, 1);
  margin: 43rpx 0 43rpx 0;
}

.section_4 {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  width: 750rpx;
  height: 1624rpx;
  padding-top: 634rpx;
}

.group_6 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 24px 24px 0px 0px;
  padding: 40rpx 30rpx 40rpx 30rpx;
}

.text_18 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 32rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
  align-self: center;
}

.box_1 {
  background-color: rgba(244, 246, 250, 1);
  border-radius: 8px;
  width: 690rpx;
  margin-top: 40rpx;
  padding: 22rpx 30rpx 21rpx 30rpx;
}

.text_19 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 32rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 45rpx;
}

.label_11 {
  width: 32rpx;
  height: 32rpx;
  margin: 6rpx 0 7rpx 0;
}

.section_6 {
  width: 690rpx;
  margin-top: 40rpx;
}

.text-wrapper_2 {
  background-color: rgba(244, 246, 250, 1);
  border-radius: 8px;
  padding: 22rpx 133rpx 21rpx 133rpx;
}

.text_20 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 32rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 45rpx;
}

.text-wrapper_3 {
  background-color: rgba(37, 99, 235, 1);
  border-radius: 8px;
  padding: 22rpx 133rpx 21rpx 133rpx;
}

.text_21 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 32rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 45rpx;
}

.group_7 {
  background-image: url(/static/lanhu_wendangzhongmingming/1a859aebde0d43d0a979c43bb19f4447_mergeImage.png);
  width: 750rpx;
  height: 626rpx;
}
