.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 100vw;
  height: 318.4vw;
  overflow: hidden;
}

.section_1 {
  background-color: rgba(255, 255, 255, 1);
  padding: 3.86vw 1.86vw 3.33vw 4vw;
}

.block_1 {
  margin: 0 0.13vw 0 1.6vw;
}

.text_6 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 4vw;
  letter-spacing: -0.6000000238418579px;
  font-family: SFProText-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 4.8vw;
}

.label_5 {
  width: 4.54vw;
  height: 2.94vw;
  margin: 0.53vw 0 1.33vw 66vw;
}

.label_6 {
  width: 4vw;
  height: 2.94vw;
  margin: 0.53vw 0 1.33vw 1.33vw;
}

.label_7 {
  width: 6.4vw;
  height: 3.07vw;
  margin: 0.53vw 0 1.2vw 1.33vw;
}

.block_2 {
  margin-top: 4.4vw;
}

.label_4 {
  width: 4.27vw;
  height: 4.27vw;
  margin: 1.73vw 0 1.6vw 0;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 5.06vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 5.34vw;
  margin: 1.2vw 0 0 31.6vw;
}

.image_1 {
  width: 20.67vw;
  height: 7.6vw;
  margin-left: 17.34vw;
}

.section_5 {
  padding: 2.66vw 3.86vw 8.26vw 4vw;
}

.text_3 {
  width: 92vw;
  height: 14vw;
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 4.26vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: justify;
  line-height: 4.67vw;
  margin-right: 0.14vw;
}

.text-wrapper_4 {
  margin: 4vw 9.33vw 0 0;
}

.paragraph_1 {
  width: 16vw;
  height: 10.67vw;
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 3.2vw;
  font-weight: NaN;
  text-align: left;
  line-height: 5.34vw;
}

.paragraph_2 {
  width: 12.8vw;
  height: 10.67vw;
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 3.2vw;
  font-weight: NaN;
  text-align: left;
  line-height: 5.34vw;
}

.paragraph_3 {
  width: 16vw;
  height: 10.67vw;
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 3.2vw;
  font-weight: NaN;
  text-align: left;
  line-height: 5.34vw;
  margin-left: 19.34vw;
}

.paragraph_4 {
  width: 18.67vw;
  height: 10.67vw;
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 3.2vw;
  font-weight: NaN;
  text-align: left;
  line-height: 5.34vw;
}

.image_2 {
  width: 92.14vw;
  height: 0.14vw;
  margin-top: 4vw;
}

.box_2 {
  width: 25.87vw;
  margin: 4vw 66.26vw 0 0;
}

.text-wrapper_2 {
  background-color: rgba(37, 99, 235, 1);
  border-radius: 8px;
  padding: 1.86vw 2.66vw 1.86vw 2.66vw;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 3.46vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 4.27vw;
}

.text-wrapper_3 {
  background-color: rgba(244, 246, 250, 1);
  border-radius: 8px;
  padding: 1.86vw 2.66vw 1.86vw 2.66vw;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 3.46vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 4.27vw;
}

.paragraph_5 {
  width: 92vw;
  height: 234.67vw;
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 4vw;
  font-weight: NaN;
  text-align: justify;
  line-height: 5.34vw;
  margin: 4.13vw 0.13vw 0 0;
}
