.page {
  background-color: rgba(242, 245, 250, 1);
  position: relative;
  width: 750rpx;
  height: 1624rpx;
  overflow: hidden;
}

.block_1 {
  background-color: rgba(255, 255, 255, 1);
  padding: 29rpx 14rpx 25rpx 20rpx;
}

.section_7 {
  margin: 0 1rpx 0 22rpx;
}

.text_10 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 30rpx;
  letter-spacing: -0.6000000238418579px;
  font-family: SFProText-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 36rpx;
}

.label_22 {
  width: 34rpx;
  height: 22rpx;
  margin: 4rpx 0 10rpx 495rpx;
}

.label_23 {
  width: 30rpx;
  height: 22rpx;
  margin: 4rpx 0 10rpx 10rpx;
}

.label_24 {
  width: 48rpx;
  height: 23rpx;
  margin: 4rpx 0 9rpx 10rpx;
}

.section_8 {
  margin-top: 33rpx;
}

.image_1 {
  width: 55rpx;
  height: 55rpx;
  margin: 1rpx 0 1rpx 0;
}

.box_10 {
  margin: 15rpx 0 11rpx 10rpx;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(7, 25, 59, 1);
  font-size: 26rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 26rpx;
}

.image_2 {
  width: 384rpx;
  height: 1rpx;
  align-self: center;
  margin-top: 4rpx;
}

.label_4 {
  width: 32rpx;
  height: 32rpx;
  margin: 15rpx 0 10rpx 9rpx;
}

.image_3 {
  width: 155rpx;
  height: 57rpx;
  margin-left: 69rpx;
}

.image_4 {
  width: 710rpx;
  height: 493rpx;
  align-self: center;
  margin-top: 285rpx;
}

.block_2 {
  background-color: rgba(255, 255, 255, 1);
  margin-top: 485rpx;
  padding: 34rpx 30rpx 16rpx 55rpx;
}

.section_9 {
  width: 665rpx;
}

.list_7 {
  width: 442rpx;
  height: 70rpx;
}

.image-text_7 {
  margin-right: 72rpx;
}

.label_5 {
  width: 40rpx;
  height: 40rpx;
  align-self: center;
}

.text-group_1 {
  width: 72rpx;
  overflow-wrap: break-word;
  color: rgba(68, 68, 68, 1);
  font-size: 18rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 18rpx;
  margin-top: 12rpx;
}

.image-wrapper_1 {
  background-color: rgba(37, 99, 235, 1);
  border-radius: 8px;
  margin: 7rpx 0 3rpx 0;
  padding: 12rpx 43rpx 12rpx 43rpx;
}

.label_6 {
  width: 36rpx;
  height: 36rpx;
}

.section_10 {
  margin: 51rpx 209rpx 0 186rpx;
}

.section_3 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 5px;
  width: 270rpx;
  height: 10rpx;
}
