html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(242, 245, 250, 1);
  position: relative;
  width: 20rem;
  height: 43.307rem;
  overflow: hidden;
}

.box_10 {
  background: url(/static/lanhu_wode/SketchPng6bc32bc67f2a840b12e3a25d43d9c58ffb8983977a90bd05c0d5fbf5af7a8fd6.png)
    100% no-repeat;
  background-size: 100% 100%;
  position: relative;
  padding: 0.774rem 0.374rem 10.054rem 1.067rem;
}

.block_1 {
  margin: 0 0.027rem 0 0.054rem;
}

.text_10 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.8rem;
  letter-spacing: -0.6000000238418579px;
  font-family: SFProText-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 0.96rem;
}

.label_24 {
  width: 0.907rem;
  height: 0.587rem;
  margin: 0.107rem 0 0.267rem 13.2rem;
}

.label_25 {
  width: 0.8rem;
  height: 0.587rem;
  margin: 0.107rem 0 0.267rem 0.267rem;
}

.label_26 {
  width: 1.28rem;
  height: 0.614rem;
  margin: 0.107rem 0 0.24rem 0.267rem;
}

.block_2 {
  margin: 0.88rem 0 0 14.427rem;
}

.image-wrapper_1 {
  background-color: rgba(254, 254, 254, 1);
  border-radius: 32px;
  border: 1px solid rgba(242, 242, 242, 1);
  padding: 0.294rem 0.64rem 0.267rem 0.614rem;
}

.image_1 {
  width: 0.614rem;
  height: 0.32rem;
  margin: 0.267rem 0 0.32rem 0;
}

.label_4 {
  width: 0.72rem;
  height: 0.907rem;
  margin-left: 0.107rem;
}

.label_5 {
  width: 0.72rem;
  height: 0.72rem;
  border: 4px rgba(51, 51, 51, 1);
  margin: 0.08rem 0 0.107rem 0.667rem;
}

.block_3 {
  margin: 3.014rem 8.56rem 0 0;
}

.image-text_11 {
  width: 10rem;
}

.image_2 {
  width: 3.734rem;
  height: 3.734rem;
}

.text-group_10 {
  margin: 0.8rem 0 0.8rem 0;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.96rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.534rem 2.747rem 0 0;
}

.box_5 {
  box-shadow: 0px 4px 10px 0px rgba(123, 137, 162, 0.1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  height: 10.667rem;
  width: 17.867rem;
  position: absolute;
  left: 1.067rem;
  top: 13.014rem;
  padding: 0 1.067rem 0 1.067rem;
}

.group_4 {
  width: 15.734rem;
}

.box_11 {
  position: relative;
}

.image-text_12 {
  width: 5.014rem;
}

.label_8 {
  width: 1.067rem;
  height: 1.067rem;
  margin: 6.134rem 0 0.8rem 0;
}

.text-group_11 {
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.853rem;
  font-weight: NaN;
  text-align: left;
  line-height: 2.667rem;
  margin-right: 0.854rem;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.853rem;
  font-weight: NaN;
  text-align: left;
  line-height: 2.667rem;
}

.text_6 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.853rem;
  font-weight: NaN;
  text-align: left;
  line-height: 2.667rem;
}

.image-text_13 {
  position: absolute;
  left: 0;
  top: 0;
  width: 5.014rem;
  height: 8rem;
}

.label_6 {
  width: 1.067rem;
  height: 1.067rem;
  margin: 0.8rem 0 6.134rem 0;
}

.text-group_12 {
}

.image-text_14 {
  position: absolute;
  left: 0;
  top: 0;
  width: 5.014rem;
  height: 8rem;
}

.label_7 {
  width: 1.067rem;
  height: 1.067rem;
  margin: 3.467rem 0 3.467rem 0;
}

.text-group_13 {
}

.image-wrapper_9 {
  margin: 0.907rem 0 0.907rem 0;
}

.label_9 {
  width: 0.854rem;
  height: 0.854rem;
}

.label_21 {
  width: 0.854rem;
  height: 0.854rem;
  margin-top: 1.814rem;
}

.label_22 {
  width: 0.854rem;
  height: 0.854rem;
  margin-top: 1.814rem;
}

.group_5 {
  width: 15.734rem;
}

.image-text_15 {
  width: 5.014rem;
}

.label_12 {
  width: 1.067rem;
  height: 1.067rem;
  margin: 0.8rem 0 0.8rem 0;
}

.text_7 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.853rem;
  font-weight: NaN;
  text-align: left;
  line-height: 2.667rem;
}

.label_23 {
  width: 0.854rem;
  height: 0.854rem;
  margin: 0.907rem 0 0.907rem 0;
}

.box_6 {
  box-shadow: 0px -4px 8px 0px rgba(229, 229, 229, 0.5);
  background-color: rgba(255, 255, 255, 1);
  margin-top: 18.107rem;
  padding: 0.427rem 1.414rem 0.427rem 1.414rem;
}

.list_4 {
  width: 17.174rem;
  height: 2rem;
  justify-content: space-between;
}

.image-text_16 {
  margin-right: 2.827rem;
}

.label_14 {
  width: 0.96rem;
  height: 0.96rem;
  align-self: center;
}

.text-group_3 {
  overflow-wrap: break-word;
  font-size: 0.586rem;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.8rem;
  margin-top: 0.24rem;
}

.group_3 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 5px;
  width: 7.2rem;
  height: 0.267rem;
  align-self: center;
  margin-top: 1.147rem;
}
