html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(242, 245, 250, 1);
  position: relative;
  width: 20rem;
  height: 43.307rem;
  overflow: hidden;
}

.section_1 {
  background-color: rgba(255, 255, 255, 1);
  padding: 0.774rem 0.374rem 0.667rem 0.8rem;
}

.block_2 {
  margin: 0 0.027rem 0 0.32rem;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.8rem;
  letter-spacing: -0.6000000238418579px;
  font-family: SFProText-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 0.96rem;
}

.label_8 {
  width: 0.907rem;
  height: 0.587rem;
  margin: 0.107rem 0 0.267rem 13.2rem;
}

.label_9 {
  width: 0.8rem;
  height: 0.587rem;
  margin: 0.107rem 0 0.267rem 0.267rem;
}

.label_10 {
  width: 1.28rem;
  height: 0.614rem;
  margin: 0.107rem 0 0.24rem 0.267rem;
}

.block_3 {
  margin-top: 0.88rem;
}

.label_4 {
  width: 0.854rem;
  height: 0.854rem;
  margin: 0.347rem 0 0.32rem 0;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 1.013rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.067rem;
  margin: 0.24rem 0 0 6.32rem;
}

.image_1 {
  width: 4.134rem;
  height: 1.52rem;
  margin-left: 3.467rem;
}

.section_4 {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 20rem;
  margin-top: 0.267rem;
  padding: 0.054rem 0.8rem 0 0.8rem;
}

.paragraph_1 {
  width: 2.987rem;
  height: 11.734rem;
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: left;
  line-height: 2.347rem;
  margin-bottom: -0.053rem;
}

.paragraph_2 {
  width: 6.454rem;
  height: 11.734rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: right;
  line-height: 2.347rem;
  margin-bottom: -0.053rem;
}

.image_2 {
  position: absolute;
  left: 0.8rem;
  top: 2.347rem;
  width: 18.4rem;
  height: 0.027rem;
}

.image_3 {
  position: absolute;
  left: 0.8rem;
  top: 4.747rem;
  width: 18.4rem;
  height: 0.027rem;
}

.image_4 {
  position: absolute;
  left: 0.8rem;
  top: 7.12rem;
  width: 18.4rem;
  height: 0.027rem;
}

.image_5 {
  position: absolute;
  left: 0.8rem;
  top: 9.494rem;
  width: 18.4rem;
  height: 0.027rem;
}

.group_2 {
  padding: 25.814rem 6.374rem 0.454rem 6.427rem;
}

.group_1 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 5px;
  width: 7.2rem;
  height: 0.267rem;
}
