.page {
  background-color: rgba(242, 245, 250, 1);
  position: relative;
  width: 100vw;
  height: 216.54vw;
  overflow: hidden;
}

.box_1 {
  background-color: rgba(37, 99, 235, 1);
  padding: 3.86vw 1.86vw 4.8vw 4vw;
}

.group_7 {
  margin: 0 0.13vw 0 1.6vw;
}

.text_28 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 4vw;
  letter-spacing: -0.6000000238418579px;
  font-family: SFProText-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 4.8vw;
}

.label_10 {
  width: 4.54vw;
  height: 2.94vw;
  margin: 0.53vw 0 1.33vw 66vw;
}

.label_11 {
  width: 4vw;
  height: 2.94vw;
  margin: 0.53vw 0 1.33vw 1.33vw;
}

.label_12 {
  width: 6.4vw;
  height: 3.07vw;
  margin: 0.53vw 0 1.2vw 1.33vw;
}

.group_8 {
  width: 94.14vw;
  margin-top: 4.54vw;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 5.06vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 5.34vw;
  margin-top: 3.34vw;
}

.image_1 {
  width: 20.67vw;
  height: 7.6vw;
  margin-bottom: 1.07vw;
}

.group_9 {
  padding-bottom: 20.14vw;
}

.group_1 {
  background-color: rgba(255, 255, 255, 1);
  padding: 4vw 4vw 4vw 4vw;
}

.section_2 {
  width: 89.87vw;
  margin-right: 2.14vw;
}

.image-text_10 {
  width: 17.6vw;
}

.text-group_1 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 3.46vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.74vw;
}

.label_4 {
  width: 3.2vw;
  height: 3.2vw;
  margin: 0.26vw 0 0.26vw 0;
}

.image-text_11 {
  width: 21.07vw;
}

.text-group_2 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 3.46vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.74vw;
}

.label_5 {
  width: 3.2vw;
  height: 3.2vw;
  margin: 0.26vw 0 0.26vw 0;
}

.image-text_12 {
  width: 17.6vw;
}

.text-group_3 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 3.46vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.74vw;
}

.label_6 {
  width: 3.2vw;
  height: 3.2vw;
  margin: 0.26vw 0 0.26vw 0;
}

.image-text_13 {
  width: 17.6vw;
}

.text-group_4 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 3.46vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.74vw;
}

.label_7 {
  width: 3.2vw;
  height: 3.2vw;
  margin: 0.26vw 0 0.26vw 0;
}

.section_3 {
  width: 92vw;
  margin-top: 3.74vw;
}

.block_9 {
  width: 47.07vw;
}

.text-wrapper_1 {
  background-color: rgba(244, 246, 250, 1);
  border-radius: 8px;
  padding: 2.13vw 2.66vw 2.13vw 2.66vw;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 3.46vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.74vw;
}

.text-wrapper_2 {
  background-color: rgba(244, 246, 250, 1);
  border-radius: 8px;
  padding: 2.13vw 2.66vw 2.13vw 2.66vw;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 3.46vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.74vw;
}

.text-wrapper_3 {
  background-color: rgba(244, 246, 250, 1);
  border-radius: 8px;
  padding: 2.13vw 2.66vw 2.13vw 2.66vw;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 3.46vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.74vw;
}

.box_4 {
  background-color: rgba(244, 246, 250, 1);
  border-radius: 8px;
  padding: 1.86vw 16.66vw 1.86vw 2.66vw;
}

.image-text_14 {
  width: 22.94vw;
}

.label_8 {
  width: 4.27vw;
  height: 4.27vw;
}

.text-group_5 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 3.46vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 4.27vw;
}

.block_10 {
  margin-top: 1.34vw;
}

.block_3 {
  background-color: rgba(255, 255, 255, 1);
  width: 100vw;
  padding: 3.33vw 4vw 4vw 4vw;
}

.group_10 {
}

.text_6 {
  width: 72vw;
  height: 10.67vw;
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 4vw;
  font-weight: NaN;
  text-align: justify;
  line-height: 5.34vw;
}

.text-wrapper_9 {
  width: 65.47vw;
  margin: 3.33vw 6.53vw 0 0;
}

.text_7 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 3.2vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.2vw;
}

.text_8 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 3.2vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.2vw;
}

.text_9 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 3.2vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.2vw;
}

.image-text_15 {
  margin-top: 0.67vw;
}

.image_2 {
  width: 16vw;
  height: 10.67vw;
}

.text-group_6 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 3.2vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.2vw;
  margin: 2.66vw 0 0 9.6vw;
}

.block_4 {
  background-color: rgba(255, 255, 255, 1);
  margin-top: 0.27vw;
  padding: 3.33vw 4vw 4vw 4vw;
}

.text_10 {
  width: 92vw;
  height: 10.67vw;
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 4vw;
  font-weight: NaN;
  text-align: justify;
  line-height: 5.34vw;
}

.text-wrapper_10 {
  width: 92vw;
  margin-top: 3.34vw;
}

.text_11 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 3.2vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.2vw;
}

.text_12 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 3.2vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.2vw;
}

.text_13 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 3.2vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.2vw;
}

.text_14 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 3.2vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.2vw;
}

.block_5 {
  background-color: rgba(255, 255, 255, 1);
  width: 100vw;
  margin-top: 0.27vw;
  padding: 3.33vw 4vw 4vw 4vw;
}

.box_9 {
}

.text_15 {
  width: 72vw;
  height: 10.67vw;
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 4vw;
  font-weight: NaN;
  text-align: justify;
  line-height: 5.34vw;
}

.text-wrapper_11 {
  margin: 3.33vw 3.33vw 0 0;
}

.text_16 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 3.2vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.2vw;
}

.text_17 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 3.2vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.2vw;
  margin-left: 10.67vw;
}

.text_18 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 3.2vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.2vw;
  margin-left: 17.07vw;
}

.image-text_16 {
  margin-top: 0.67vw;
}

.box_6 {
  background-image: url(/static/lanhu_zixun/0cf0fc57d78a4c33b1a77d09c4b46f54_mergeImage.png);
  width: 16vw;
  height: 10.67vw;
}

.text-group_7 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 3.2vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.2vw;
  margin: 2.66vw 0 0 9.6vw;
}

.block_6 {
  background-color: rgba(255, 255, 255, 1);
  margin-top: 0.27vw;
  padding: 3.33vw 4vw 4vw 4vw;
}

.box_10 {
  width: 92vw;
}

.text_19 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 4vw;
  font-weight: NaN;
  text-align: justify;
  white-space: nowrap;
  line-height: 5.34vw;
}

.section_1 {
  background-image: url(/static/lanhu_zixun/830c81ff23094f3f9dd736a0aa3c6cae_mergeImage.png);
  width: 16vw;
  height: 10.67vw;
  margin-top: 0.4vw;
}

.text-wrapper_12 {
  margin-top: 2.94vw;
}

.text_20 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 3.2vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.2vw;
}

.text_21 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 3.2vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.2vw;
  margin-left: 10.67vw;
}

.text_22 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 3.2vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.2vw;
  margin-left: 10.67vw;
}

.text_23 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 3.2vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.2vw;
  margin-left: 20.14vw;
}

.block_7 {
  background-color: rgba(255, 255, 255, 1);
  width: 100vw;
  margin-top: 0.27vw;
  padding: 3.33vw 4vw 4vw 4vw;
}

.block_11 {
}

.text_24 {
  width: 72vw;
  height: 10.67vw;
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 4vw;
  font-weight: NaN;
  text-align: justify;
  line-height: 5.34vw;
}

.text-wrapper_13 {
  margin: 3.33vw 3.33vw 0 0;
}

.text_25 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 3.2vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.2vw;
}

.text_26 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 3.2vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.2vw;
  margin-left: 10.67vw;
}

.text_27 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 3.2vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.2vw;
  margin-left: 13.87vw;
}

.image-text_17 {
  margin-top: 0.67vw;
}

.image_3 {
  width: 16vw;
  height: 10.67vw;
}

.text-group_8 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 3.2vw;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 3.2vw;
  margin: 2.66vw 0 0 3.2vw;
}

.box_7 {
  box-shadow: 0px -4px 8px 0px rgba(229, 229, 229, 0.5);
  background-color: rgba(255, 255, 255, 1);
  margin-top: -0.13vw;
  padding: 2.13vw 7.06vw 2.13vw 7.06vw;
}

.list_2 {
  width: 85.87vw;
  height: 10vw;
  justify-content: space-between;
}

.image-text_18 {
  margin-right: 14.14vw;
}

.label_9 {
  width: 4.8vw;
  height: 4.8vw;
  align-self: center;
}

.text-group_9 {
  overflow-wrap: break-word;
  font-size: 2.93vw;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 4vw;
  margin-top: 1.2vw;
}

.box_8 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 5px;
  width: 36vw;
  height: 1.34vw;
  align-self: center;
  margin-top: 5.74vw;
}
