.page {
  background-color: rgba(242, 245, 250, 1);
  position: relative;
  width: 750px;
  height: 1624px;
  overflow: hidden;
}

.section_1 {
  background-color: rgba(255, 255, 255, 1);
  padding: 29px 14px 29px 30px;
}

.group_15 {
  margin: 0 1px 0 12px;
}

.text_27 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 30px;
  letter-spacing: -0.6000000238418579px;
  font-family: SFProText-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 36px;
}

.label_30 {
  width: 34px;
  height: 22px;
  margin: 4px 0 10px 495px;
}

.label_31 {
  width: 30px;
  height: 22px;
  margin: 4px 0 10px 10px;
}

.label_32 {
  width: 48px;
  height: 23px;
  margin: 4px 0 9px 10px;
}

.group_16 {
  width: 437px;
  margin: 33px 0 0 269px;
}

.text_17 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 38px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 40px;
  margin-top: 17px;
}

.image_8 {
  width: 155px;
  height: 57px;
}

.text-wrapper_4 {
  width: 690px;
  margin: 44px 16px 0 0;
}

.text_18 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 28px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
}

.text_19 {
  overflow-wrap: break-word;
  color: rgba(37, 99, 235, 1);
  font-size: 28px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
}

.section_3 {
  background-color: rgba(255, 255, 255, 1);
  margin-top: 10px;
  padding: 30px 30px 20px 30px;
}

.box_16 {
  background-color: rgba(249, 248, 252, 1);
  border-radius: 8px;
  padding: 21px 20px 18px 30px;
}

.image_9 {
  width: 68px;
  height: 68px;
  margin-bottom: 3px;
}

.text-group_21 {
  margin: 1px 0 2px 20px;
}

.text_20 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 28px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin-right: 146px;
}

.text_21 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 24px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin-top: 16px;
}

.label_26 {
  width: 24px;
  height: 24px;
  margin: 47px 0 0 24px;
}

.text_22 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 24px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 47px 0 0 4px;
}

.label_27 {
  width: 32px;
  height: 32px;
  margin: 20px 0 19px 251px;
}

.box_17 {
  background-color: rgba(249, 248, 252, 1);
  border-radius: 8px;
  margin-top: 16px;
  padding: 18px 20px 20px 30px;
}

.image-text_45 {
  width: 290px;
}

.image_10 {
  width: 68px;
  height: 68px;
  margin-bottom: 4px;
}

.text-group_22 {
  margin-top: 2px;
}

.text_23 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 28px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin-right: 129px;
}

.text_24 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 24px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin-top: 18px;
}

.label_28 {
  width: 24px;
  height: 24px;
  margin: 48px 0 0 30px;
}

.text_25 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 24px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 48px 0 0 4px;
}

.label_29 {
  width: 32px;
  height: 32px;
  margin: 21px 0 19px 245px;
}

.box_3 {
  background-color: rgba(249, 248, 252, 1);
  border-radius: 8px;
  margin-top: 16px;
  padding: 20px 20px 20px 30px;
}

.image-text_46 {
  width: 290px;
}

.image_2 {
  width: 68px;
  height: 68px;
  margin: 1px 0 1px 0;
}

.text-group_23 {
}

.text_26 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 28px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin-right: 129px;
}

.text-group_5 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 24px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin-top: 18px;
}

.label_8 {
  width: 24px;
  height: 24px;
  margin: 46px 0 0 30px;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 24px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 46px 0 0 4px;
}

.label_9 {
  width: 32px;
  height: 32px;
  margin: 19px 0 19px 245px;
}

.box_20 {
  width: 690px;
  margin-top: 20px;
}

.image-text_47 {
  width: 548px;
}

.image-wrapper_1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  border: 1px solid rgba(221, 221, 221, 1);
  padding: 20px 2px 20px 2px;
}

.image_3 {
  width: 112px;
  height: 76px;
}

.text-group_24 {
  margin: 24px 0 24px 0;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 28px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 24px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 18px 208px 0 0;
}

.label_10 {
  width: 32px;
  height: 32px;
  margin: 43px 0 43px 0;
}

.box_21 {
  width: 690px;
  margin-top: 20px;
}

.image-text_48 {
  width: 548px;
}

.image-wrapper_2 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  border: 1px solid rgba(221, 221, 221, 1);
  padding: 20px 2px 20px 2px;
}

.image_4 {
  width: 112px;
  height: 76px;
}

.text-group_25 {
  margin: 24px 0 24px 0;
}

.text_6 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 28px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

.text_7 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 24px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 18px 208px 0 0;
}

.section_4 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 32px;
  height: 32px;
  border: 2px solid rgba(204, 204, 204, 1);
  margin: 43px 0 43px 0;
}

.section_2 {
  background-color: rgba(255, 255, 255, 1);
  margin-top: 486px;
  padding: 33px 60px 16px 85px;
}

.block_6 {
}

.image-text_49 {
}

.label_4 {
  width: 40px;
  height: 40px;
}

.text-group_1 {
  overflow-wrap: break-word;
  color: rgba(68, 68, 68, 1);
  font-size: 18px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 18px;
  align-self: center;
  margin-top: 12px;
}

.image-text_50 {
  margin-left: 133px;
}

.label_5 {
  width: 40px;
  height: 40px;
  align-self: center;
}

.text-group_2 {
  overflow-wrap: break-word;
  color: rgba(68, 68, 68, 1);
  font-size: 18px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 18px;
  margin-top: 12px;
}

.image-text_51 {
  margin-left: 133px;
}

.label_6 {
  width: 40px;
  height: 40px;
}

.text-group_3 {
  overflow-wrap: break-word;
  color: rgba(68, 68, 68, 1);
  font-size: 18px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 18px;
  align-self: center;
  margin-top: 12px;
}

.image-text_52 {
  margin-left: 115px;
}

.label_7 {
  width: 40px;
  height: 40px;
  align-self: center;
}

.text-group_4 {
  overflow-wrap: break-word;
  color: rgba(68, 68, 68, 1);
  font-size: 18px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 18px;
  margin-top: 12px;
}

.block_7 {
  margin: 51px 179px 0 156px;
}

.block_1 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 5px;
  width: 270px;
  height: 10px;
}

.section_5 {
  background-color: rgba(0, 0, 0, 0.5);
  height: 1624px;
  width: 750px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 634px 60px 626px 60px;
}

.section_6 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 24px;
  padding: 50px 30px 40px 30px;
}

.text_9 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 32px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  align-self: center;
}

.text_10 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 32px;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 45px;
  align-self: center;
  margin-top: 52px;
}

.block_8 {
  width: 570px;
  margin-top: 61px;
}

.text-wrapper_1 {
  background-color: rgba(242, 245, 250, 1);
  border-radius: 8px;
  padding: 22px 103px 21px 103px;
}

.text_11 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 32px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 45px;
}

.text-wrapper_2 {
  background-color: rgba(37, 99, 235, 1);
  border-radius: 8px;
  padding: 22px 103px 21px 103px;
}

.text_12 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 32px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 45px;
}
