html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(242, 245, 250, 1);
  position: relative;
  width: 20rem;
  height: 43.307rem;
  overflow: hidden;
}

.section_1 {
  background-color: rgba(255, 255, 255, 1);
  padding: 0.774rem 0.374rem 0.774rem 0.8rem;
}

.group_15 {
  margin: 0 0.027rem 0 0.32rem;
}

.text_27 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.8rem;
  letter-spacing: -0.6000000238418579px;
  font-family: SFProText-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 0.96rem;
}

.label_30 {
  width: 0.907rem;
  height: 0.587rem;
  margin: 0.107rem 0 0.267rem 13.2rem;
}

.label_31 {
  width: 0.8rem;
  height: 0.587rem;
  margin: 0.107rem 0 0.267rem 0.267rem;
}

.label_32 {
  width: 1.28rem;
  height: 0.614rem;
  margin: 0.107rem 0 0.24rem 0.267rem;
}

.group_16 {
  width: 11.654rem;
  margin: 0.88rem 0 0 7.174rem;
}

.text_17 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 1.013rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.067rem;
  margin-top: 0.454rem;
}

.image_8 {
  width: 4.134rem;
  height: 1.52rem;
}

.text-wrapper_4 {
  width: 18.4rem;
  margin: 1.174rem 0.427rem 0 0;
}

.text_18 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.746rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
}

.text_19 {
  overflow-wrap: break-word;
  color: rgba(37, 99, 235, 1);
  font-size: 0.746rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
}

.section_3 {
  background-color: rgba(255, 255, 255, 1);
  margin-top: 0.267rem;
  padding: 0.8rem 0.8rem 0.534rem 0.8rem;
}

.box_16 {
  background-color: rgba(249, 248, 252, 1);
  border-radius: 8px;
  padding: 0.56rem 0.534rem 0.48rem 0.8rem;
}

.image_9 {
  width: 1.814rem;
  height: 1.814rem;
  margin-bottom: 0.08rem;
}

.text-group_21 {
  margin: 0.027rem 0 0.054rem 0.534rem;
}

.text_20 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.746rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin-right: 3.894rem;
}

.text_21 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.64rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin-top: 0.427rem;
}

.label_26 {
  width: 0.64rem;
  height: 0.64rem;
  margin: 1.254rem 0 0 0.64rem;
}

.text_22 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.64rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 1.254rem 0 0 0.107rem;
}

.label_27 {
  width: 0.854rem;
  height: 0.854rem;
  margin: 0.534rem 0 0.507rem 6.694rem;
}

.box_17 {
  background-color: rgba(249, 248, 252, 1);
  border-radius: 8px;
  margin-top: 0.427rem;
  padding: 0.48rem 0.534rem 0.534rem 0.8rem;
}

.image-text_45 {
  width: 7.734rem;
}

.image_10 {
  width: 1.814rem;
  height: 1.814rem;
  margin-bottom: 0.107rem;
}

.text-group_22 {
  margin-top: 0.054rem;
}

.text_23 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.746rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin-right: 3.44rem;
}

.text_24 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.64rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin-top: 0.48rem;
}

.label_28 {
  width: 0.64rem;
  height: 0.64rem;
  margin: 1.28rem 0 0 0.8rem;
}

.text_25 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.64rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 1.28rem 0 0 0.107rem;
}

.label_29 {
  width: 0.854rem;
  height: 0.854rem;
  margin: 0.56rem 0 0.507rem 6.534rem;
}

.box_3 {
  background-color: rgba(249, 248, 252, 1);
  border-radius: 8px;
  margin-top: 0.427rem;
  padding: 0.534rem 0.534rem 0.534rem 0.8rem;
}

.image-text_46 {
  width: 7.734rem;
}

.image_2 {
  width: 1.814rem;
  height: 1.814rem;
  margin: 0.027rem 0 0.027rem 0;
}

.text-group_23 {
}

.text_26 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.746rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin-right: 3.44rem;
}

.text-group_5 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.64rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin-top: 0.48rem;
}

.label_8 {
  width: 0.64rem;
  height: 0.64rem;
  margin: 1.227rem 0 0 0.8rem;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.64rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 1.227rem 0 0 0.107rem;
}

.label_9 {
  width: 0.854rem;
  height: 0.854rem;
  margin: 0.507rem 0 0.507rem 6.534rem;
}

.box_20 {
  width: 18.4rem;
  margin-top: 0.534rem;
}

.image-text_47 {
  width: 14.614rem;
}

.image-wrapper_1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  border: 1px solid rgba(221, 221, 221, 1);
  padding: 0.534rem 0.054rem 0.534rem 0.054rem;
}

.image_3 {
  width: 2.987rem;
  height: 2.027rem;
}

.text-group_24 {
  margin: 0.64rem 0 0.64rem 0;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.746rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.64rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.48rem 5.547rem 0 0;
}

.label_10 {
  width: 0.854rem;
  height: 0.854rem;
  margin: 1.147rem 0 1.147rem 0;
}

.box_21 {
  width: 18.4rem;
  margin-top: 0.534rem;
}

.image-text_48 {
  width: 14.614rem;
}

.image-wrapper_2 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  border: 1px solid rgba(221, 221, 221, 1);
  padding: 0.534rem 0.054rem 0.534rem 0.054rem;
}

.image_4 {
  width: 2.987rem;
  height: 2.027rem;
}

.text-group_25 {
  margin: 0.64rem 0 0.64rem 0;
}

.text_6 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.746rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
}

.text_7 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.64rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.64rem;
  margin: 0.48rem 5.547rem 0 0;
}

.section_4 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 0.854rem;
  height: 0.854rem;
  border: 2px solid rgba(204, 204, 204, 1);
  margin: 1.147rem 0 1.147rem 0;
}

.section_2 {
  background-color: rgba(255, 255, 255, 1);
  margin-top: 12.96rem;
  padding: 0.88rem 1.6rem 0.427rem 2.267rem;
}

.block_6 {
}

.image-text_49 {
}

.label_4 {
  width: 1.067rem;
  height: 1.067rem;
}

.text-group_1 {
  overflow-wrap: break-word;
  color: rgba(68, 68, 68, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.48rem;
  align-self: center;
  margin-top: 0.32rem;
}

.image-text_50 {
  margin-left: 3.547rem;
}

.label_5 {
  width: 1.067rem;
  height: 1.067rem;
  align-self: center;
}

.text-group_2 {
  overflow-wrap: break-word;
  color: rgba(68, 68, 68, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.48rem;
  margin-top: 0.32rem;
}

.image-text_51 {
  margin-left: 3.547rem;
}

.label_6 {
  width: 1.067rem;
  height: 1.067rem;
}

.text-group_3 {
  overflow-wrap: break-word;
  color: rgba(68, 68, 68, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.48rem;
  align-self: center;
  margin-top: 0.32rem;
}

.image-text_52 {
  margin-left: 3.067rem;
}

.label_7 {
  width: 1.067rem;
  height: 1.067rem;
  align-self: center;
}

.text-group_4 {
  overflow-wrap: break-word;
  color: rgba(68, 68, 68, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.48rem;
  margin-top: 0.32rem;
}

.block_7 {
  margin: 1.36rem 4.774rem 0 4.16rem;
}

.block_1 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 5px;
  width: 7.2rem;
  height: 0.267rem;
}

.section_5 {
  background-color: rgba(0, 0, 0, 0.5);
  height: 43.307rem;
  width: 20rem;
  position: absolute;
  left: 0;
  top: 0;
  padding: 16.907rem 1.6rem 16.694rem 1.6rem;
}

.section_6 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 24px;
  padding: 1.334rem 0.8rem 1.067rem 0.8rem;
}

.text_9 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.853rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  align-self: center;
}

.text_10 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.853rem;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.2rem;
  align-self: center;
  margin-top: 1.387rem;
}

.block_8 {
  width: 15.2rem;
  margin-top: 1.627rem;
}

.text-wrapper_1 {
  background-color: rgba(242, 245, 250, 1);
  border-radius: 8px;
  padding: 0.587rem 2.747rem 0.56rem 2.747rem;
}

.text_11 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.853rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.2rem;
}

.text-wrapper_2 {
  background-color: rgba(37, 99, 235, 1);
  border-radius: 8px;
  padding: 0.587rem 2.747rem 0.56rem 2.747rem;
}

.text_12 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.853rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.2rem;
}
