.page {
  background-color: rgba(242, 245, 250, 1);
  position: relative;
  width: 750px;
  height: 1624px;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 1012px;
}

.box_1 {
  background-color: rgba(255, 255, 255, 1);
  padding: 29px 14px 25px 30px;
}

.group_3 {
  margin: 0 1px 0 12px;
}

.text_10 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 30px;
  letter-spacing: -0.6000000238418579px;
  font-family: SFProText-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 36px;
}

.label_17 {
  width: 34px;
  height: 22px;
  margin: 4px 0 10px 495px;
}

.label_18 {
  width: 30px;
  height: 22px;
  margin: 4px 0 10px 10px;
}

.label_19 {
  width: 48px;
  height: 23px;
  margin: 4px 0 9px 10px;
}

.group_4 {
  margin-top: 33px;
}

.label_16 {
  width: 32px;
  height: 32px;
  margin: 13px 0 12px 0;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 38px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 40px;
  margin: 17px 0 0 237px;
}

.image_1 {
  width: 155px;
  height: 57px;
  margin-left: 130px;
}

.box_4 {
  background-color: rgba(255, 255, 255, 1);
  margin-top: 10px;
  padding: 30px 30px 30px 30px;
}

.block_1 {
  background-color: rgba(249, 248, 252, 1);
  border-radius: 8px;
  padding: 21px 20px 21px 30px;
}

.image_2 {
  width: 68px;
  height: 68px;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 28px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin: 20px 0 0 20px;
}

.label_4 {
  width: 32px;
  height: 32px;
  margin: 20px 0 16px 464px;
}

.block_2 {
  background-color: rgba(249, 248, 252, 1);
  border-radius: 8px;
  width: 690px;
  margin-top: 16px;
  padding: 18px 20px 24px 30px;
}

.image-text_9 {
  width: 161px;
}

.image_3 {
  width: 68px;
  height: 68px;
}

.text-group_1 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 28px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin-top: 23px;
}

.label_5 {
  width: 32px;
  height: 32px;
  margin: 21px 0 15px 0;
}

.block_3 {
  background-color: rgba(249, 248, 252, 1);
  border-radius: 8px;
  width: 690px;
  margin-top: 16px;
  padding: 21px 20px 21px 30px;
}

.image-text_10 {
  width: 161px;
}

.image_4 {
  width: 68px;
  height: 68px;
}

.text-group_2 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 28px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin-top: 20px;
}

.label_6 {
  width: 32px;
  height: 32px;
  margin: 18px 0 18px 0;
}

.box_5 {
  background-color: rgba(0, 0, 0, 0.5);
  height: 1624px;
  width: 750px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 634px 60px 626px 60px;
}

.box_6 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 24px;
  padding: 50px 30px 40px 30px;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 32px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  align-self: center;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 32px;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 45px;
  align-self: center;
  margin-top: 52px;
}

.text-wrapper_1 {
  background-color: rgba(37, 99, 235, 1);
  border-radius: 8px;
  margin-top: 61px;
  padding: 22px 237px 21px 237px;
}

.text_6 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 32px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 45px;
}
