html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(242, 245, 250, 1);
  position: relative;
  width: 20rem;
  height: 43.307rem;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 26.987rem;
}

.box_1 {
  background-color: rgba(255, 255, 255, 1);
  padding: 0.774rem 0.374rem 0.667rem 0.8rem;
}

.group_3 {
  margin: 0 0.027rem 0 0.32rem;
}

.text_10 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.8rem;
  letter-spacing: -0.6000000238418579px;
  font-family: SFProText-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 0.96rem;
}

.label_17 {
  width: 0.907rem;
  height: 0.587rem;
  margin: 0.107rem 0 0.267rem 13.2rem;
}

.label_18 {
  width: 0.8rem;
  height: 0.587rem;
  margin: 0.107rem 0 0.267rem 0.267rem;
}

.label_19 {
  width: 1.28rem;
  height: 0.614rem;
  margin: 0.107rem 0 0.24rem 0.267rem;
}

.group_4 {
  margin-top: 0.88rem;
}

.label_16 {
  width: 0.854rem;
  height: 0.854rem;
  margin: 0.347rem 0 0.32rem 0;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 1.013rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.067rem;
  margin: 0.454rem 0 0 6.32rem;
}

.image_1 {
  width: 4.134rem;
  height: 1.52rem;
  margin-left: 3.467rem;
}

.box_4 {
  background-color: rgba(255, 255, 255, 1);
  margin-top: 0.267rem;
  padding: 0.8rem 0.8rem 0.8rem 0.8rem;
}

.block_1 {
  background-color: rgba(249, 248, 252, 1);
  border-radius: 8px;
  padding: 0.56rem 0.534rem 0.56rem 0.8rem;
}

.image_2 {
  width: 1.814rem;
  height: 1.814rem;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.746rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin: 0.534rem 0 0 0.534rem;
}

.label_4 {
  width: 0.854rem;
  height: 0.854rem;
  margin: 0.534rem 0 0.427rem 12.374rem;
}

.block_2 {
  background-color: rgba(249, 248, 252, 1);
  border-radius: 8px;
  width: 18.4rem;
  margin-top: 0.427rem;
  padding: 0.48rem 0.534rem 0.64rem 0.8rem;
}

.image-text_9 {
  width: 4.294rem;
}

.image_3 {
  width: 1.814rem;
  height: 1.814rem;
}

.text-group_1 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.746rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin-top: 0.614rem;
}

.label_5 {
  width: 0.854rem;
  height: 0.854rem;
  margin: 0.56rem 0 0.4rem 0;
}

.block_3 {
  background-color: rgba(249, 248, 252, 1);
  border-radius: 8px;
  width: 18.4rem;
  margin-top: 0.427rem;
  padding: 0.56rem 0.534rem 0.56rem 0.8rem;
}

.image-text_10 {
  width: 4.294rem;
}

.image_4 {
  width: 1.814rem;
  height: 1.814rem;
}

.text-group_2 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.746rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  margin-top: 0.534rem;
}

.label_6 {
  width: 0.854rem;
  height: 0.854rem;
  margin: 0.48rem 0 0.48rem 0;
}

.box_5 {
  background-color: rgba(0, 0, 0, 0.5);
  height: 43.307rem;
  width: 20rem;
  position: absolute;
  left: 0;
  top: 0;
  padding: 16.907rem 1.6rem 16.694rem 1.6rem;
}

.box_6 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 24px;
  padding: 1.334rem 0.8rem 1.067rem 0.8rem;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 0.853rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.747rem;
  align-self: center;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.853rem;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.2rem;
  align-self: center;
  margin-top: 1.387rem;
}

.text-wrapper_1 {
  background-color: rgba(37, 99, 235, 1);
  border-radius: 8px;
  margin-top: 1.627rem;
  padding: 0.587rem 6.32rem 0.56rem 6.32rem;
}

.text_6 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.853rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.2rem;
}
