.page {
  background-color: rgba(242, 245, 250, 1);
  position: relative;
  width: 750px;
  height: 1624px;
  overflow: hidden;
  padding: 29px 14px 16px 30px;
}

.group_1 {
  margin: 0 1px 0 12px;
}

.text_6 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 30px;
  letter-spacing: -0.6000000238418579px;
  font-family: SFProText-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 36px;
}

.label_8 {
  width: 34px;
  height: 22px;
  margin: 4px 0 10px 495px;
}

.label_9 {
  width: 30px;
  height: 22px;
  margin: 4px 0 10px 10px;
}

.label_10 {
  width: 48px;
  height: 23px;
  margin: 4px 0 9px 10px;
}

.group_2 {
  margin-top: 33px;
}

.label_4 {
  width: 32px;
  height: 32px;
  margin: 13px 0 12px 0;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 38px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 40px;
  margin: 9px 0 0 237px;
}

.image_1 {
  width: 155px;
  height: 57px;
  margin-left: 130px;
}

.group_3 {
  width: 499px;
  margin: 52px 207px 0 0;
}

.section_1 {
  border-radius: 50%;
  background-image: url(/static/lanhu_lianxikefu/b2cd59a421e24358aa610072c15a4f6f_mergeImage.png);
  width: 100px;
  height: 100px;
  border: 1px solid rgba(151, 151, 151, 1);
}

.text-wrapper_1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  margin: 6px 0 6px 0;
  padding: 28px 24px 28px 25px;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 30px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
}

.text-wrapper_2 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  margin: 1157px 16px 0 0;
  padding: 22px 420px 22px 46px;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 32px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 56px;
}

.block_4 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 5px;
  width: 270px;
  height: 10px;
  margin: 34px 226px 0 210px;
}
