html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(242, 245, 250, 1);
  position: relative;
  width: 20rem;
  height: 43.307rem;
  overflow: hidden;
}

.block_1 {
  background: url(/static/lanhu_yijianfankui/SketchPng30cea2cec15e9693bffd25ca595b123bb55beda547eab7c3a18a03c1ab4c753b.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: -1.866rem;
  position: relative;
  padding: 2.64rem 0.374rem 7.547rem 0.8rem;
}

.group_5 {
  margin: 0 0.027rem 0 0.32rem;
}

.text_12 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.8rem;
  letter-spacing: -0.6000000238418579px;
  font-family: SFProText-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 0.96rem;
}

.label_9 {
  width: 0.907rem;
  height: 0.587rem;
  margin: 0.107rem 0 0.267rem 13.2rem;
}

.label_10 {
  width: 0.8rem;
  height: 0.587rem;
  margin: 0.107rem 0 0.267rem 0.267rem;
}

.label_11 {
  width: 1.28rem;
  height: 0.614rem;
  margin: 0.107rem 0 0.24rem 0.267rem;
}

.group_6 {
  margin-top: 0.88rem;
}

.label_4 {
  width: 0.854rem;
  height: 0.854rem;
  margin: 0.347rem 0 0.32rem 0;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 1.013rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.067rem;
  margin: 0.24rem 0 0 6.32rem;
}

.image_1 {
  width: 4.134rem;
  height: 1.52rem;
  margin-left: 3.467rem;
}

.group_7 {
  margin: 1.494rem 6.614rem 0 0.267rem;
}

.text-group_3 {
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 1.6rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.574rem;
  margin-right: 7.147rem;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.853rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.574rem;
  margin-top: 0.347rem;
}

.group_8 {
  margin: 0.694rem 13.494rem 0 0;
}

.text-wrapper_1 {
  background: url(/static/lanhu_yijianfankui/SketchPngda94d7934bfc097b7313391a3067f49d7721fdc6cc685986a10acbec95fda822.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 0.427rem 1.014rem 0.427rem 0.907rem;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.853rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
}

.label_5 {
  position: absolute;
  left: 5.494rem;
  top: 11.787rem;
  width: 0.854rem;
  height: 0.854rem;
}

.block_4 {
  padding: 10.054rem 0.8rem 0.454rem 0.8rem;
}

.text_6 {
  width: 18.4rem;
  height: 2.56rem;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.746rem;
  font-weight: NaN;
  text-align: left;
  line-height: 1.28rem;
}

.text-wrapper_2 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  margin-top: 1.067rem;
  padding: 0.8rem 10.347rem 1.12rem 0.8rem;
}

.text_7 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.853rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.854rem;
  margin-right: 3.84rem;
}

.text_8 {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.853rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.494rem;
  margin-top: 1.067rem;
}

.text-wrapper_3 {
  background-color: rgba(37, 99, 235, 1);
  border-radius: 16px;
  margin-top: 1.067rem;
  padding: 0.747rem 8.347rem 0.72rem 8.347rem;
}

.text_9 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.853rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.2rem;
}

.section_1 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 5px;
  width: 7.2rem;
  height: 0.267rem;
  align-self: center;
  margin-top: 0.8rem;
}

.block_3 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px 16px 16px 16px;
  position: absolute;
  left: 0.8rem;
  top: 11.52rem;
  width: 18.4rem;
  height: 17.067rem;
  padding: 0.8rem 0.8rem 1.067rem 0.8rem;
}

.text_10 {
  width: 16.8rem;
  height: 2.987rem;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.853rem;
  font-weight: NaN;
  text-align: left;
  line-height: 1.494rem;
}

.image-wrapper_1 {
  background-color: rgba(241, 243, 244, 1);
  border-radius: 16px;
  margin: 7.947rem 12.267rem 0 0.267rem;
  padding: 1.334rem 1.334rem 1.334rem 1.334rem;
}

.image_2 {
  width: 1.6rem;
  height: 1.6rem;
}
