.page {
  background-color: rgba(242, 245, 250, 1);
  position: relative;
  width: 750rpx;
  height: 1624rpx;
  overflow: hidden;
}

.block_1 {
  background: url(/static/lanhu_yijianfankui/SketchPng30cea2cec15e9693bffd25ca595b123bb55beda547eab7c3a18a03c1ab4c753b.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: -70rpx;
  position: relative;
  padding: 99rpx 14rpx 283rpx 30rpx;
}

.group_5 {
  margin: 0 1rpx 0 12rpx;
}

.text_12 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 30rpx;
  letter-spacing: -0.6000000238418579px;
  font-family: SFProText-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 36rpx;
}

.label_9 {
  width: 34rpx;
  height: 22rpx;
  margin: 4rpx 0 10rpx 495rpx;
}

.label_10 {
  width: 30rpx;
  height: 22rpx;
  margin: 4rpx 0 10rpx 10rpx;
}

.label_11 {
  width: 48rpx;
  height: 23rpx;
  margin: 4rpx 0 9rpx 10rpx;
}

.group_6 {
  margin-top: 33rpx;
}

.label_4 {
  width: 32rpx;
  height: 32rpx;
  margin: 13rpx 0 12rpx 0;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 38rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 40rpx;
  margin: 9rpx 0 0 237rpx;
}

.image_1 {
  width: 155rpx;
  height: 57rpx;
  margin-left: 130rpx;
}

.group_7 {
  margin: 56rpx 248rpx 0 10rpx;
}

.text-group_3 {
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 60rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 59rpx;
  margin-right: 268rpx;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 32rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 59rpx;
  margin-top: 13rpx;
}

.group_8 {
  margin: 26rpx 506rpx 0 0;
}

.text-wrapper_1 {
  background: url(/static/lanhu_yijianfankui/SketchPngda94d7934bfc097b7313391a3067f49d7721fdc6cc685986a10acbec95fda822.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 16rpx 38rpx 16rpx 34rpx;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 32rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
}

.label_5 {
  position: absolute;
  left: 206rpx;
  top: 442rpx;
  width: 32rpx;
  height: 32rpx;
}

.block_4 {
  padding: 377rpx 30rpx 17rpx 30rpx;
}

.text_6 {
  width: 690rpx;
  height: 96rpx;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 28rpx;
  font-weight: NaN;
  text-align: left;
  line-height: 48rpx;
}

.text-wrapper_2 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  margin-top: 40rpx;
  padding: 30rpx 388rpx 42rpx 30rpx;
}

.text_7 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 32rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
  margin-right: 144rpx;
}

.text_8 {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 32rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 56rpx;
  margin-top: 40rpx;
}

.text-wrapper_3 {
  background-color: rgba(37, 99, 235, 1);
  border-radius: 16px;
  margin-top: 40rpx;
  padding: 28rpx 313rpx 27rpx 313rpx;
}

.text_9 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 32rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 45rpx;
}

.section_1 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 5px;
  width: 270rpx;
  height: 10rpx;
  align-self: center;
  margin-top: 30rpx;
}

.block_3 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px 16px 16px 16px;
  position: absolute;
  left: 30rpx;
  top: 432rpx;
  width: 690rpx;
  height: 640rpx;
  padding: 30rpx 30rpx 40rpx 30rpx;
}

.text_10 {
  width: 630rpx;
  height: 112rpx;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 32rpx;
  font-weight: NaN;
  text-align: left;
  line-height: 56rpx;
}

.image-wrapper_1 {
  background-color: rgba(241, 243, 244, 1);
  border-radius: 16px;
  margin: 298rpx 460rpx 0 10rpx;
  padding: 50rpx 50rpx 50rpx 50rpx;
}

.image_2 {
  width: 60rpx;
  height: 60rpx;
}
