.page {
  background-color: rgba(242, 245, 250, 1);
  position: relative;
  width: 750px;
  height: 1624px;
  overflow: hidden;
}

.block_1 {
  background: url(/static/lanhu_yijianfankui/SketchPng30cea2cec15e9693bffd25ca595b123bb55beda547eab7c3a18a03c1ab4c753b.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: -70px;
  position: relative;
  padding: 99px 14px 283px 30px;
}

.group_5 {
  margin: 0 1px 0 12px;
}

.text_12 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 30px;
  letter-spacing: -0.6000000238418579px;
  font-family: SFProText-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 36px;
}

.label_9 {
  width: 34px;
  height: 22px;
  margin: 4px 0 10px 495px;
}

.label_10 {
  width: 30px;
  height: 22px;
  margin: 4px 0 10px 10px;
}

.label_11 {
  width: 48px;
  height: 23px;
  margin: 4px 0 9px 10px;
}

.group_6 {
  margin-top: 33px;
}

.label_4 {
  width: 32px;
  height: 32px;
  margin: 13px 0 12px 0;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 38px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 40px;
  margin: 9px 0 0 237px;
}

.image_1 {
  width: 155px;
  height: 57px;
  margin-left: 130px;
}

.group_7 {
  margin: 56px 248px 0 10px;
}

.text-group_3 {
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 60px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 59px;
  margin-right: 268px;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 32px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 59px;
  margin-top: 13px;
}

.group_8 {
  margin: 26px 506px 0 0;
}

.text-wrapper_1 {
  background: url(/static/lanhu_yijianfankui/SketchPngda94d7934bfc097b7313391a3067f49d7721fdc6cc685986a10acbec95fda822.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 16px 38px 16px 34px;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 32px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
}

.label_5 {
  position: absolute;
  left: 206px;
  top: 442px;
  width: 32px;
  height: 32px;
}

.block_4 {
  padding: 377px 30px 17px 30px;
}

.text_6 {
  width: 690px;
  height: 96px;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 28px;
  font-weight: NaN;
  text-align: left;
  line-height: 48px;
}

.text-wrapper_2 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  margin-top: 40px;
  padding: 30px 388px 42px 30px;
}

.text_7 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 32px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
  margin-right: 144px;
}

.text_8 {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 32px;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 56px;
  margin-top: 40px;
}

.text-wrapper_3 {
  background-color: rgba(37, 99, 235, 1);
  border-radius: 16px;
  margin-top: 40px;
  padding: 28px 313px 27px 313px;
}

.text_9 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 32px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 45px;
}

.section_1 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 5px;
  width: 270px;
  height: 10px;
  align-self: center;
  margin-top: 30px;
}

.block_3 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px 16px 16px 16px;
  position: absolute;
  left: 30px;
  top: 432px;
  width: 690px;
  height: 640px;
  padding: 30px 30px 40px 30px;
}

.text_10 {
  width: 630px;
  height: 112px;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 32px;
  font-weight: NaN;
  text-align: left;
  line-height: 56px;
}

.image-wrapper_1 {
  background-color: rgba(241, 243, 244, 1);
  border-radius: 16px;
  margin: 298px 460px 0 10px;
  padding: 50px 50px 50px 50px;
}

.image_2 {
  width: 60px;
  height: 60px;
}
