.page {
  background-color: rgba(242, 245, 250, 1);
  position: relative;
  width: 750rpx;
  height: 1624rpx;
  overflow: hidden;
}

.group_1 {
  background: url(/static/lanhu_shougongshaichadaorudanjubendishangchuan/SketchPng37e101270d7784628d212e18ee2b28727f3849d33f7fa9027c0f6444f816c028.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.box_1 {
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 210rpx;
}

.box_2 {
  background-color: rgba(244, 246, 250, 1);
  border-radius: 24px 24px 0px 0px;
  width: 750rpx;
  justify-content: flex-center;
  padding: 20rpx 30rpx 20rpx 30rpx;
}

.label_1 {
  width: 32rpx;
  height: 32rpx;
  margin: 14rpx 0 14rpx 0;
}

.text_1 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 32rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
  margin: 16rpx 0 0 249rpx;
}

.text-wrapper_1 {
  background: url(/static/lanhu_shougongshaichadaorudanjubendishangchuan/SketchPng727610e159949af06c95cf03cf924ebcc2b80f55df94b5e683a9cca43fefcea2.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 161rpx;
  padding: 14rpx 32rpx 14rpx 32rpx;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(37, 99, 235, 1);
  font-size: 28rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
}

.box_3 {
  background-color: rgba(255, 255, 255, 1);
  padding: 40rpx 30rpx 630rpx 30rpx;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 32rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
  margin-right: 562rpx;
}

.group_5 {
  width: 666rpx;
  margin: 30rpx 24rpx 0 0;
}

.text-wrapper_2 {
  background: url(/static/lanhu_shougongshaichadaorudanjubendishangchuan/SketchPngf7fc48024f89e88cb652c59d91f594e2b49a87832d6519918723010258163173.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 15rpx 20rpx 17rpx 20rpx;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(37, 99, 235, 1);
  font-size: 28rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_3 {
  background: url(/static/lanhu_shougongshaichadaorudanjubendishangchuan/SketchPng9d54933fccb8117ee2b9b662e91a1b0ed19f380616db29437bc5ede18ae8cec1.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 15rpx 20rpx 17rpx 20rpx;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_4 {
  background: url(/static/lanhu_shougongshaichadaorudanjubendishangchuan/SketchPng80134ba413aef9edc48ad640d667b9084330b55bec5e3b441221ab022cf8e5e5.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 16rpx 20rpx 16rpx 20rpx;
}

.text_6 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text-wrapper_5 {
  background: url(/static/lanhu_shougongshaichadaorudanjubendishangchuan/SketchPng4a8a1a96085ea532240a424724f7429c304cf1ecb7e8a482a0b94e99498219a4.png)
    100% no-repeat;
  background-size: 100% 100%;
  padding: 16rpx 20rpx 16rpx 20rpx;
}

.text_7 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_8 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 32rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 32rpx;
  margin: 60rpx 562rpx 0 0;
}

.text-wrapper_7 {
  width: 254rpx;
  margin: 40rpx 436rpx 0 0;
}

.text_9 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 28rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.text_10 {
  overflow-wrap: break-word;
  color: rgba(0, 82, 204, 1);
  font-size: 28rpx;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 28rpx;
}

.group_3 {
  background-color: rgba(0, 82, 204, 1);
  width: 112rpx;
  height: 2rpx;
  margin: 10rpx 578rpx 0 0;
}

.group_4 {
  background-color: rgba(242, 245, 250, 1);
  width: 690rpx;
  border: 1px solid rgba(221, 221, 221, 1);
  margin-top: 20rpx;
  padding: 79rpx 99rpx 91rpx 99rpx;
}

.box_4 {
  box-shadow: 0px 4px 20px 0px rgba(146, 154, 169, 0.1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  padding: 20rpx 57rpx 30rpx 57rpx;
}

.image-text_3 {
}

.image_1 {
  width: 64rpx;
  height: 64rpx;
  align-self: center;
}

.text-group_1 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 24rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24rpx;
  margin-top: 20rpx;
}

.box_5 {
  box-shadow: 0px 4px 20px 0px rgba(146, 154, 169, 0.1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  padding: 20rpx 73rpx 30rpx 73rpx;
}

.image-text_4 {
}

.image_2 {
  width: 64rpx;
  height: 64rpx;
}

.text-group_2 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 24rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 24rpx;
  align-self: center;
  margin-top: 20rpx;
}
