.page {
  background-color: rgba(0, 0, 0, 1);
  position: relative;
  width: 750rpx;
  height: 1624rpx;
  overflow: hidden;
}

.group_17 {
  padding: 185rpx 29rpx 31rpx 30rpx;
}

.image-wrapper_15 {
}

.label_1 {
  width: 32rpx;
  height: 32rpx;
  margin-bottom: 5rpx;
}

.label_2 {
  width: 32rpx;
  height: 32rpx;
  margin: 5rpx 0 0 526rpx;
}

.label_3 {
  width: 32rpx;
  height: 32rpx;
  margin: 5rpx 0 0 69rpx;
}

.group_2 {
  background-color: rgba(216, 216, 216, 1);
  width: 730rpx;
  height: 1000rpx;
  border: 1px solid rgba(102, 146, 255, 1);
  align-self: center;
  margin-top: -1rpx;
}

.group_18 {
  position: relative;
  padding: 10rpx 139rpx 17rpx 140rpx;
}

.text-wrapper_8 {
  width: 48rpx;
  align-self: center;
}

.text_1 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 24rpx;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 33rpx;
}

.block_3 {
  width: 470rpx;
  margin: 67rpx 1rpx 0 0;
}

.image_1 {
  width: 64rpx;
  height: 64rpx;
  margin: 18rpx 0 18rpx 0;
}

.group_4 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  width: 100rpx;
  height: 100rpx;
}

.image_2 {
  width: 64rpx;
  height: 64rpx;
  margin: 18rpx 0 18rpx 0;
}

.image-wrapper_16 {
  margin: 21rpx 0 0 455rpx;
}

.thumbnail_1 {
  width: 16rpx;
  height: 16rpx;
}

.block_4 {
  width: 270rpx;
  align-self: center;
  margin-top: 99rpx;
}

.box_1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  width: 270rpx;
  height: 10rpx;
}

.section_3 {
  border-radius: 50%;
  position: absolute;
  left: 312rpx;
  top: 95rpx;
  width: 130rpx;
  height: 130rpx;
  border: 9px solid rgba(37, 99, 235, 1);
}
