html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(0, 0, 0, 1);
  position: relative;
  width: 20rem;
  height: 43.307rem;
  overflow: hidden;
}

.group_17 {
  padding: 4.934rem 0.774rem 0.827rem 0.8rem;
}

.image-wrapper_15 {
}

.label_1 {
  width: 0.854rem;
  height: 0.854rem;
  margin-bottom: 0.134rem;
}

.label_2 {
  width: 0.854rem;
  height: 0.854rem;
  margin: 0.134rem 0 0 14.027rem;
}

.label_3 {
  width: 0.854rem;
  height: 0.854rem;
  margin: 0.134rem 0 0 1.84rem;
}

.group_2 {
  background-color: rgba(216, 216, 216, 1);
  width: 19.467rem;
  height: 26.667rem;
  border: 1px solid rgba(102, 146, 255, 1);
  align-self: center;
  margin-top: -0.026rem;
}

.group_18 {
  position: relative;
  padding: 0.267rem 3.707rem 0.454rem 3.734rem;
}

.text-wrapper_8 {
  width: 1.28rem;
  align-self: center;
}

.text_1 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.64rem;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.88rem;
}

.block_3 {
  width: 12.534rem;
  margin: 1.787rem 0.027rem 0 0;
}

.image_1 {
  width: 1.707rem;
  height: 1.707rem;
  margin: 0.48rem 0 0.48rem 0;
}

.group_4 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  width: 2.667rem;
  height: 2.667rem;
}

.image_2 {
  width: 1.707rem;
  height: 1.707rem;
  margin: 0.48rem 0 0.48rem 0;
}

.image-wrapper_16 {
  margin: 0.56rem 0 0 12.134rem;
}

.thumbnail_1 {
  width: 0.427rem;
  height: 0.427rem;
}

.block_4 {
  width: 7.2rem;
  align-self: center;
  margin-top: 2.64rem;
}

.box_1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  width: 7.2rem;
  height: 0.267rem;
}

.section_3 {
  border-radius: 50%;
  position: absolute;
  left: 8.32rem;
  top: 2.534rem;
  width: 3.467rem;
  height: 3.467rem;
  border: 9px solid rgba(37, 99, 235, 1);
}
