.page {
  background-color: rgba(242, 245, 250, 1);
  position: relative;
  width: 100vw;
  height: 216.54vw;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 134.94vw;
}

.group_1 {
  background-color: rgba(255, 255, 255, 1);
  padding: 3.86vw 1.86vw 3.33vw 4vw;
}

.block_9 {
  margin: 0 0.13vw 0 1.6vw;
}

.text_11 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 4vw;
  letter-spacing: -0.6000000238418579px;
  font-family: SFProText-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 4.8vw;
}

.label_29 {
  width: 4.54vw;
  height: 2.94vw;
  margin: 0.53vw 0 1.33vw 66vw;
}

.label_30 {
  width: 4vw;
  height: 2.94vw;
  margin: 0.53vw 0 1.33vw 1.33vw;
}

.label_31 {
  width: 6.4vw;
  height: 3.07vw;
  margin: 0.53vw 0 1.2vw 1.33vw;
}

.block_10 {
  margin-top: 4.4vw;
}

.label_28 {
  width: 4.27vw;
  height: 4.27vw;
  margin: 1.73vw 0 1.6vw 0;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 5.06vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 5.34vw;
  margin: 2.26vw 0 0 31.6vw;
}

.image_1 {
  width: 20.67vw;
  height: 7.6vw;
  margin-left: 17.34vw;
}

.group_2 {
  background-color: rgba(255, 255, 255, 1);
  margin-top: 1.34vw;
  padding: 4vw 4vw 4vw 4vw;
}

.block_1 {
  background-color: rgba(249, 248, 252, 1);
  border-radius: 8px;
  padding: 2.8vw 2.66vw 2.8vw 4vw;
}

.image_2 {
  width: 9.07vw;
  height: 9.07vw;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 3.73vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 3.74vw;
  margin: 2.66vw 0 0 2.66vw;
}

.label_4 {
  width: 4.27vw;
  height: 4.27vw;
  margin: 2.66vw 0 2.13vw 61.86vw;
}

.block_2 {
  background-color: rgba(249, 248, 252, 1);
  border-radius: 8px;
  width: 92vw;
  margin-top: 2.14vw;
  padding: 2.4vw 2.66vw 3.2vw 4vw;
}

.image-text_29 {
  width: 21.47vw;
}

.image_3 {
  width: 9.07vw;
  height: 9.07vw;
}

.text-group_1 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 3.73vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 3.74vw;
  margin-top: 3.07vw;
}

.label_5 {
  width: 4.27vw;
  height: 4.27vw;
  margin: 2.8vw 0 2vw 0;
}

.block_3 {
  background-color: rgba(249, 248, 252, 1);
  border-radius: 8px;
  width: 92vw;
  margin-top: 2.14vw;
  padding: 2.8vw 2.66vw 2.8vw 4vw;
}

.image-text_30 {
  width: 21.47vw;
}

.image_4 {
  width: 9.07vw;
  height: 9.07vw;
}

.text-group_2 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 3.73vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 3.74vw;
  margin-top: 2.67vw;
}

.label_6 {
  width: 4.27vw;
  height: 4.27vw;
  margin: 2.4vw 0 2.4vw 0;
}

.group_3 {
  background-color: rgba(0, 0, 0, 0.5);
  height: 216.54vw;
  padding-top: 172vw;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
}

.box_3 {
  background-color: rgba(244, 246, 250, 1);
  border-radius: 24px 24px 0px 0px;
  padding-top: 4vw;
}

.box_9 {
  width: 92vw;
  align-self: center;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(25, 33, 61, 1);
  font-size: 4.26vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 3.74vw;
}

.label_7 {
  width: 4.27vw;
  height: 4.27vw;
}

.group_5 {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  margin-top: 3.47vw;
  padding: 0 31.86vw 2.13vw 4vw;
}

.image-text_31 {
  width: 20.8vw;
  margin-right: 43.34vw;
}

.label_8 {
  width: 5.34vw;
  height: 5.34vw;
  margin: 3.2vw 0 3.2vw 0;
}

.text-group_3 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 4.26vw;
  font-weight: NaN;
  text-align: left;
  line-height: 11.74vw;
}

.image-text_32 {
  width: 16.54vw;
  margin-right: 47.6vw;
}

.label_9 {
  width: 5.34vw;
  height: 5.34vw;
  margin: 3.2vw 0 3.2vw 0;
}

.text-group_4 {
  overflow-wrap: break-word;
  color: rgba(234, 99, 92, 1);
  font-size: 4.26vw;
  font-weight: NaN;
  text-align: left;
  line-height: 11.74vw;
}

.block_4 {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 5px;
  width: 36vw;
  height: 1.34vw;
  margin: 5.86vw 0 0 28.13vw;
}

.image_5 {
  position: absolute;
  left: 4vw;
  top: 11.74vw;
  width: 92vw;
  height: 0.14vw;
}
